@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<script src="~/Scripts/Inv.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="bgc-white p-20 bd">
    <div style="text-align:center">
        <h3>Services Requisition For Other</h3>
    </div>
    <input type="hidden" class="grpId" value="@ViewBag.Group_Id" />
    <div class="col-md-12 mt-md-3">
        <div class="form-group col-md-4">
            <label>Project Name</label>
            <h4>@Model.Name</h4>
            <input type="hidden" value="@Model.Id" id="Prj_Id" />
        </div>
    </div>
    <div class="col-md-12 " id="ad-demand">
        <div class="cal item-pur-req-row">
            <div class="form-row">
                <div class="col-md-1">
                    <div class="sr">1</div>
                </div>
                <div class="form-group col-md-5">
                    <label>Name</label>
                    <input type="text" class="form-control Product" id="Product" required placeholder="Services Name" />
                </div>
                <div class="form-group col-md-3">
                    <label>Details</label>
                    <textarea class="form-control descr" rows="1" cols="5" placeholder="Services Details"></textarea>
                </div>
                <div class="form-group col-md-6" style="margin-left:8.3%">
                    <label>Department</label>
                    @Html.DropDownList("Department", null, "Select Department", new { @class = "form-control Department col-md-8" })
                </div>
                <div class="col-md-1">
                    <i class="ti-trash rmv-pur-req-row rmv"></i>
                </div>
            </div>
            @*<div class="form-row">
                    <div class="form-group col-md-2">
                        <h6>Specifications</h6>
                        <select style="float:left" class="form-control slwhd">
                            <option>Choose ..</option>
                            <option value="s">Size</option>
                            <option value="l">Length</option>
                            <option value="w">Width</option>
                            <option value="h">Height</option>
                            <option value="d">Diameter</option>
                        </select>
                    </div>
                    <div class="form-group col-md-1 l-div" style="display:none">
                        <label>Length</label>
                        <input class="form-control len" placeholder="0" required>
                    </div>
                    <div class="form-group col-md-1 l-div" style="display:none">
                        <label>Length UOM</label><i class="ti-close l-cros" style="float:right;font-size:9px"></i>
                        <select class="form-control len-uom isuom" name="UOM" data-id="1"></select>
                    </div>
                    <div class="form-group col-md-1 w-div" style="display:none">
                        <label>Width</label>
                        <input class="form-control wid" placeholder="0" required>
                    </div>
                    <div class="form-group col-md-1 w-div" style="display:none">
                        <label>Width UOM</label><i class="ti-close w-cros" style="float:right;font-size:9px"></i>
                        <select class="form-control wid-uom isuom" name="UOM" data-id="1"></select>
                    </div>
                    <div class="form-group col-md-1 h-div" style="display:none">
                        <label>Height</label>
                        <input class="form-control hei" placeholder="0" required>
                    </div>
                    <div class="form-group col-md-1 h-div" style="display:none">
                        <label>Height UOM</label><i class="ti-close h-cros" style="float:right;font-size:9px"></i>
                        <select class="form-control hei-uom isuom" name="UOM" data-id="1"></select>
                    </div>
                    <div class="form-group col-md-1 d-div" style="display:none">
                        <label>Diameter</label>
                        <input class="form-control dia" placeholder="0" required>
                    </div>
                    <div class="form-group col-md-1 d-div" style="display:none">
                        <label>Dia UOM</label><i class="ti-close d-cros" style="float:right;font-size:9px"></i>
                        <select class="form-control dia-uom isuom" name="UOM" data-id="1"></select>
                    </div>
                    <div class="form-group col-md-1 s-div" style="display:none">
                        <label>Size</label>
                        <input class="form-control siz" placeholder="0" required>
                    </div>
                    <div class="form-group col-md-1 s-div" style="display:none">
                        <label>Size UOM</label><i class="ti-close s-cros" style="float:right;font-size:9px"></i>
                        <select class="form-control siz-uom isuom" name="UOM" data-id="1"></select>
                    </div>
                </div>*@
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <button type="button" id="add-new-ser-row" class="btn btn-success">Add Another Line</button>
        </div>
        <div class="col-md-2">
            <button type="submit" id="reg-SerReq-other" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<script>
    $(document).on("change", ".slwhd", function () {
        var a = $(this).val();
        switch (a) {
            case 's':
                $(this).closest('.item-pur-req-row').find(".s-div").show();
                break;
            case 'l':
                $(this).closest('.item-pur-req-row').find(".l-div").show();
                break;
            case 'w':
                $(this).closest('.item-pur-req-row').find(".w-div").show();
                break;
            case 'h':
                $(this).closest('.item-pur-req-row').find(".h-div").show();
                break;
            case 'd':
                $(this).closest('.item-pur-req-row').find(".d-div").show();
                break;
        }
    });
    $(document).on("click", ".l-cros", function () {
        $(this).closest('.item-pur-req-row').find('.l-div').hide();
    });
    $(document).on("click", ".w-cros", function () {
        $(this).closest('.item-pur-req-row').find('.w-div').hide();
    });
    $(document).on("click", ".h-cros", function () {
        $(this).closest('.item-pur-req-row').find('.h-div').hide();
    });
    $(document).on("click", ".d-cros", function () {
        $(this).closest('.item-pur-req-row').find('.d-div').hide();
    });
    $(document).on("click", ".s-cros", function () {
        $(this).closest('.item-pur-req-row').find('.s-div').hide();
    });
</script>

<script>
    $(function () {
        $('.Measurement').append(unitlist);
        $('.isuom').append(unitlist);
    });

    //InitProject(1);
</script>

<style>
    .rmv-pur-req-row {
        align-items: center;
        height: 100%;
        display: flex;
        margin: auto;
        justify-content: center;
        font-size: 20px;
    }

        .rmv-pur-req-row:hover {
            color: #d0232A;
            cursor: pointer;
        }

    .left-mar-temp {
        margin-left: 6rem !important;
    }

    .sr {
        text-align: center;
        margin-top: 35px;
    }
</style>