<script>
        var selectedInven = [];
        var emps = @Html.Raw(Json.Encode(ViewBag.Employees));
</script>
<input type="hidden" value="@ViewBag.GroupId" id="grp-id" />
<div class="main-rec-do">
    <div class="form-row col-md-12">
        <div class="form-group col-md-3" style="display: block;">
            <label>Issue To</label>
            <select class="form-control emp"></select>
        </div>
        <div class="form-group col-md-4">
            <label>Department</label>
            @Html.DropDownList("Department", null, new { @class = "form-control Department col-md-8" })
        </div>
        <div class="form-group col-md-4" style="display: block;">
            <label>Remarks</label>
            <textarea class="form-control item-rems" rows="2" style="resize:none"></textarea>
        </div>
    </div>
    <div class="col-md-12 inv-assign-row">
        <div class="form-row assign ml-md-12" id="assign-1">
            <div class="form-group col-md-2" style="display: block;">
                <label>SKU</label>
                <input type="text" class="form-control sku" readonly />
            </div>
            <div class="form-group col-md-4">
                <label>Item</label>
                <select class="form-control item-name"></select>
            </div>
            <div class="form-group col-md-1 s-div" style="display: none;">
                <label><b>Size:</b> <span class="size"></span></label>
            </div>
            <div class="form-group col-md-1 l-div" style="display: none;">
                <label><b>Length:</b> <span class="len"></span></label>
            </div>
            <div class="form-group col-md-1 w-div" style="display: none;">
                <label><b>Width:</b> <span class="wid"></span></label>
            </div>
            <div class="form-group col-md-1 h-div" style="display: none;">
                <label><b>Heigth:</b> <span class="hei"></span></label>
            </div>
            <div class="form-group col-md-1 d-div" style="display: none;">
                <label><b>Diameter:</b> <span class="dia"></span></label>
            </div>
            <div class="form-group col-md-1" style="display: none;">
                <label>UOM</label>
                <input type="text" class="form-control item-uom" required placeholder="Enter Quantity" readonly />
            </div>
            <div class="form-group col-md-2" style="display: block;">
                <label>Available Qty.</label>
                <input type="text" class="form-control ttl-qty" value="" readonly />
            </div>
            <div class="form-group col-md-1" style="display: block;">
                <label>Enter Qty.</label>
                <input type="text" class="form-control req-qty" />
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="form-group col-md-12" style="display: block;">
        <h4 id="do-no"></h4>
    </div>
</div>
<div class="col-md-12" style="text-align:center;">
    <button class="btn btn-success add-do-item">Add Another Item</button>
</div>
<script>

    $(function () {
        $('.modal-footer').append('<button class="btn btn-primary" id="save-multi-issue_rqst">Submit</button>');
        InitEmps($('.emp'));
        var prdctThat = $('.item-name');


        $('.emp').select2({
            dropdownParent: $('.emp').parent(),
            minimumInputLength: 3
        });
        $(prdctThat).select2({
            minimumInputLength: 3,
            dropdownParent: $(prdctThat).parent(),
            placeholder: "Search for Inventory",
            ajax: {
                url: '/Inventory/SearchInventory/',
                dataType: 'json',
                params: {
                    contentType: 'application/json; charset=utf-8'
                },
                quietMillis: 100,
                data: function (params) {
                    return {
                        d: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    };
                }
            }
        });
        $(prdctThat).on('select2:select', function (e) {
            var s = e.params.data;
            var department = $(".Department option:selected").val();
            $.ajax({
                type: "POST",
                url: '/Inventory/GetInventoryItemById/',
                data: { Id: s.id, Dep_Id: department },
                success: function (data) {
                    $(prdctThat).closest('.inv-assign-row').find('.l-div').hide().find('.len').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.w-div').hide().find('.wid').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.h-div').hide().find('.hei').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.d-div').hide().find('.dia').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.s-div').hide().find('.size').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.item-uom').val('');
                    $(prdctThat).closest('.inv-assign-row').find('.ttl-qty').val('');
                    if (!isEmpty(data.Inventory.Length) && !isBlank(data.Inventory.Length)) {
                        $(prdctThat).closest('.inv-assign-row').find('.l-div').show().find('.len').text(data.Inventory.Length + " : " + data.Inventory.L_UOM);
                    }
                    if (!isEmpty(data.Inventory.Width) && !isBlank(data.Inventory.Width)) {
                        $(prdctThat).closest('.inv-assign-row').find('.w-div').show().find('.wid').text(data.Inventory.Width + " : " + data.Inventory.W_UOM);
                    }
                    if (!isEmpty(data.Inventory.Heigth) && !isBlank(data.Inventory.Heigth)) {
                        $(prdctThat).closest('.inv-assign-row').find('.h-div').show().find('.hei').text(data.Inventory.Heigth + " : " + data.Inventory.H_UOM);
                    }
                    if (!isEmpty(data.Inventory.Diameter) && !isBlank(data.Inventory.Diameter)) {
                        $(prdctThat).closest('.inv-assign-row').find('.d-div').show().find('.dia').text(data.Inventory.Diameter + " : " + data.Inventory.D_UOM);
                    }
                    if (!isEmpty(data.Inventory.Size) && !isBlank(data.Inventory.Size)) {
                        
                        $(prdctThat).closest('.inv-assign-row').find('.s-div').show().find('.size').text(data.Inventory.Size + " : " + data.Inventory.Size_UOM);
                    }
                    $(prdctThat).closest('.inv-assign-row').find('.item-uom').val(data.Inventory.UOM);
                    $(prdctThat).closest('.inv-assign-row').find('.sku').val(data.Inventory.SKU);
                    $(prdctThat).closest('.inv-assign-row').find('.ttl-qty').val(parseFloat(data.Inventory.Total_In_Qty) - parseFloat(data.Inventory.Total_Out_Qty));
                }
                , error: function (xmlhttprequest, textstatus, message) {
                    if (textstatus === "timeout") {
                        alert("got timeout");
                    } else {
                        alert(textstatus);
                    }
                }
            });
        });



    });
    $(document).on("click", ".del-do-row", function () {
        $(this).parent().parent().remove();
    });
    $('.add-do-item').click(function () {
        let _strctr = `<div class="col-md-12 inv-assign-row">
        <div class="form-row assign ml-md-12" id="assign-1">
        <i class="ti-trash del-do-row" style="margin: 4% 10px 0 0;"></i>
            <div class="form-group col-md-2" style="display: block;">
                <label>SKU</label>
                <input type="text" class="form-control sku" readonly />
            </div>
            <div class="form-group col-md-4">
                <label>Item</label>
                <select class="form-control item-name"></select>
            </div>
            <div class="form-group col-md-1 s-div" style="display: none;">
                <label><b>Size:</b> <span class="size"></span></label>
            </div>
            <div class="form-group col-md-1 l-div" style="display: none;">
                <label><b>Length:</b> <span class="len"></span></label>
            </div>
            <div class="form-group col-md-1 w-div" style="display: none;">
                <label><b>Width:</b> <span class="wid"></span></label>
            </div>
            <div class="form-group col-md-1 h-div" style="display: none;">
                <label><b>Heigth:</b> <span class="hei"></span></label>
            </div>
            <div class="form-group col-md-1 d-div" style="display: none;">
                <label><b>Diameter:</b> <span class="dia"></span></label>
            </div>
            <div class="form-group col-md-1" style="display: none;">
                <label><b>UOM</b></label>
                <input type="text" class="form-control item-uom" required placeholder="Enter Quantity" readonly />
            </div>
            <div class="form-group col-md-2" style="display: block;">
                <label>Available Qty.</label>
                <input type="text" class="form-control ttl-qty" value="" readonly />
            </div>
            <div class="form-group col-md-1" style="display: block;">
                <label>Enter Qty.</label>
                <input type="text" class="form-control req-qty" />
            </div>

        </div>
    </div>`;

        var newRec = $('.main-rec-do').append(_strctr);
        InitEmps($(newRec).find('.emp').last());
        //InitInv($(newRec).find('.item-name').last());
        var prdctThat = $(newRec).find('.item-name').last();

        $(prdctThat).select2({
            dropdownParent: $(prdctThat).parent(),
            minimumInputLength: 3,
            placeholder: "Search for Inventory",
            ajax: {
                url: '/Inventory/SearchInventory/',
                dataType: 'json',
                params: {
                    contentType: 'application/json; charset=utf-8'
                },
                quietMillis: 100,
                data: function (params) {
                    return {
                        d: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    };
                }
            }
        });


        $(prdctThat).on('select2:select', function (e) {
            var department = $(".Department option:selected").val();
            var s = e.params.data;
            $.ajax({
                type: "POST",
                url: '/Inventory/GetInventoryItemById/',
                data: { Id: s.id, Dep_Id: department },
                success: function (data) {
                    
                    $(prdctThat).closest('.inv-assign-row').find('.l-div').hide().find('.len').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.w-div').hide().find('.wid').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.h-div').hide().find('.hei').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.d-div').hide().find('.dia').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.s-div').hide().find('.size').text('');
                    $(prdctThat).closest('.inv-assign-row').find('.item-uom').val('');
                    $(prdctThat).closest('.inv-assign-row').find('.ttl-qty').val('');
                    if (!isEmpty(data.Inventory.Length) && !isBlank(data.Inventory.Length)) {
                        $(prdctThat).closest('.inv-assign-row').find('.l-div').show().find('.len').text(data.Inventory.Length + " : " + data.Inventory.L_UOM);
                    }
                    if (!isEmpty(data.Inventory.Width) && !isBlank(data.Inventory.Width)) {
                        $(prdctThat).closest('.inv-assign-row').find('.w-div').show().find('.wid').text(data.Inventory.Width + " : " + data.Inventory.W_UOM);
                    }
                    if (!isEmpty(data.Inventory.Heigth) && !isBlank(data.Inventory.Heigth)) {
                        $(prdctThat).closest('.inv-assign-row').find('.h-div').show().find('.hei').text(data.Inventory.Heigth + " : " + data.Inventory.H_UOM);
                    }
                    if (!isEmpty(data.Inventory.Diameter) && !isBlank(data.Inventory.Diameter)) {
                        $(prdctThat).closest('.inv-assign-row').find('.d-div').show().find('.dia').text(data.Inventory.Diameter + " : " + data.Inventory.D_UOM);
                    }
                    if (!isEmpty(data.Inventory.Size) && !isBlank(data.Inventory.Size)) {
                        $(prdctThat).closest('.inv-assign-row').find('.s-div').show().find('.size').text(data.Inventory.Size + " : " + data.Inventory.Size_UOM);
                    }
                    $(prdctThat).closest('.inv-assign-row').find('.item-uom').val(data.Inventory.UOM);
                    $(prdctThat).closest('.inv-assign-row').find('.sku').val(data.Inventory.SKU);
                    $(prdctThat).closest('.inv-assign-row').find('.ttl-qty').val(parseFloat(data.Inventory.Total_In_Qty) - parseFloat(data.Inventory.Total_Out_Qty));
                }
                , error: function (xmlhttprequest, textstatus, message) {
                    if (textstatus === "timeout") {
                        alert("got timeout");
                    } else {
                        alert(textstatus);
                    }
                }
            });
        });
        var emp = $(newRec).find('.emp').last();
        $(emp).select2({
            dropdownParent: $(emp).parent(),
            minimumInputLength: 3
        });
    });

    function InitEmps(_ele) {
        $(_ele).append('<option> Select Employee </option>');

        var $prevGroup, prevGroupName;
        $.each(emps, function () {
            var group = (this.Group == null) ? ' ' : this.Group.Name;
            if (prevGroupName !== group) {
                $prevGroup = $('<optgroup />').prop('label', group).appendTo(_ele);
            }
            $("<option />").val(this.Value).text(this.Text).appendTo($prevGroup);
            prevGroupName = group;
        });

    }
    //$(window).scroll(function () {
    //    $(".select2-container.select2-dropdown-open").not($(this)).select2('positionDropdown');
    //});
</script>
