@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<style>
    .paymentotherinfo {
        display: none;
    }

    #inst-stat {
        height: 1245px;
        overflow-y: scroll;
    }

    img.scanned {
        height: 200px; /** Sets the display size */
        /*margin-right: 12px;*/
        float: left;
    }

    div#images {
        margin-top: 20px;
        text-align: center;
    }
</style>
@*<script>
        var AccHead = @Html.Raw(Json.Encode(ViewBag.Type));
</script>*@
<div class="bgc-white bd bdrs-3 p-20 mB-20">
    <input type="hidden" value="@ViewBag.TransactionId" id="trans-id" />
    <h4 style="text-align:center">Journal Entry</h4>
    <hr />
    <div class="row" id="ad-iven-stock">
        <div class="col-md-12 cal" id="add-inv-1">
            <div class="form-row">
                <span class="add-inven-counter" style="margin-top: 35px;font-size: 15px;width:35px">1.</span>
                <div class="form-group col-md-4">
                    <label>Description</label>
                    <input type="text" class="form-control Name" maxlength="250" name="Name" data-id="1" required />
                </div>
                <div class="form-group col-md-1">
                    <label>Quantity</label>
                    <input class="form-control coma" placeholder="12,345" required>
                    <input type="hidden" id="" name="Quantity" class="amt Quantity rate-calc" data-id="1" required>
                </div>
                <div class="form-group col-md-1">
                    <label>UOM</label>
                    <select style="padding:5px" class="form-control Measurement meas-che" name="Measurement" data-id="1">
                        <option value="-">N/A</option>
                        <option value="Kg">Kg</option>
                        <option value="Piece">Piece</option>
                        <option value="Bag">Bag</option>
                        <option value="Liter">Liter</option>
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <label>Rate</label>
                    <input type="text" class="form-control Rate inv-rate rate-calc" name="Rate" data-id="1" placeholder="Rate">
                </div>
                <div class="form-group col-md-2">
                    <label>Amount</label>
                    <input type="text" class="form-control coma p-r-c rate-calc" placeholder="Amount">
                    <input type="hidden" id="" name="Quantity" class="amt Rate Purchase_Rate" data-id="1" required>
                </div>
                <i class="ti-plus pointer add-ven-pay-de" style="margin-top: 35px;font-size: 20px;font-weight: bold;margin-left: 2%;"></i>
            </div>
            <div class="form-row">
                <span style="width:35px"></span>
                <div class="col-md-4"></div>
                <div class="col-md-3"><h6>Head</h6></div>
                <div class="col-md-1"><h6>Debit</h6></div>
                <div class="col-md-1"><h6>Credit</h6></div>
            </div>
            <div class="dr-line">
                <div  class="form-row dr-row dr-row-1">
                    <span style="width:35px"></span>
                    <div class="form-group col-md-4"><i class="ti-plus  add-dr-row" style="float:right;margin-top:10px;font-size:12px"></i></div>
                    <div class="form-group col-md-3">
                        <select class="form-control acc-head searchbox" data-id="1"></select>
                    </div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control coma " placeholder="Amount">
                        <input type="hidden" id="" class="amt Rate dr" data-id="1" required>
                    </div>
                </div>
            </div>
            <div class="cr-line">
                <div class="form-row cr-row cr-row-1">
                    <span style="width:35px"></span>
                    <div class="form-group col-md-4"><i class="ti-plus add-cr-row" style="float:right;margin-top:10px;font-size:12px"></i></div>
                    <div class="form-group col-md-3">
                        <select class="form-control acc-head searchbox" data-id="1"></select>
                    </div>
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-1">
                        <input type="text" class="form-control coma " placeholder="Amount">
                        <input type="hidden" id="" class="amt Rate cr" data-id="1" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-row">
        <span style="width:35px"></span>
        <div class="form-group col-md-7">
            <h4 style="padding-top:1%;float:right">Total</h4>
        </div>
        <div class="form-group col-md-2">
            <input class="form-control coma f-amt" placeholder="12,345" required readonly>
            <input type="hidden" id="amt" name="Amount" class="amt" required readonly>
        </div>
        <div class="form-group col-md-1"></div>
    </div>
    <div><button class="btn btn-primary rec-ent">Record Entries</button></div>
</div>

<script>
    $(document).ready(function () {
        $('.searchbox').select2({
            //dropdownParent: $('#Modal'),
            placeholder: "Search for Head",
            ajax: {
                url: '/AccountHeads/GetHead/',
                dataType: 'json',
                params: {
                    contentType: 'application/json; charset=utf-8'
                },
                quietMillis: 100,
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: $.map(data.items, function (item) {
                            return {

                                text: item.Parent,
                                children: [{
                                    id: item.id,
                                    text: item.text + ' - ' + item.head
                                }]

                            }
                        })

                    };

                }
            }
        });

    });
    $('.hidn_member_trm_pay').hide();
</script>