<footer class="no-print bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
    <span >Ignited by <a href="http://sasystems.solutions" target="_blank" title="SA Systems" style="color:blue !important">SA Systems</a>. All rights reserved.</span>
</footer>