 <style>
     .custom-icon {
        color: #B3000C;
    }
</style>

<div class="sidebar">
    @*<div class="sidebar-inner">*@
    <div class="sidebar-inner" style="background-color: #1f1f1f; box-shadow: 20px 0px 5px rgba(0, 0, 0, 0.5); ">

        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" href="/Home/Index">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo" style="padding:20px 10px 10px 10px">
                                    <img style="width: 75%; height: 34px" src="~/assets/static/images/logo2_black.JPG" alt="">
                                </div>
                            </div>
                            <div class="peer peer-greed">
                                <h5 class="lh-1 mB-0 logo-text" style="color: #f1c07b;">Grand City Administrator</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle">
                        <a href="javascript:void(0);" class="td-n"><i class="ti-arrow-circle-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active">
                <a class="sidebar-link" href="javascript:void(0);" default>
                    @*<span class="icon-holder"><i class="c-blue-500 ti-home"></i> </span><span class="title" style="color: #f1c07b;">Dashboard</span>*@
                    <span class="icon-holder"><i class="fa fa-1x fa-home custom-icon"></i> </span><span class="title" style="color: #f1c07b;">Dashboard</span>

                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fa fa-1x fa-user-tie custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Roles & Responsibilities</span>
                    <span class="arrow">
                        <i class="fa fa-1x fa-angle-right custom-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class='sidebar-link get-link' data-link="/RolesAndResponsibilities/CreateRoles/" href="javascript:void(0);" style="color: #f1c07b;">Roles</a>
                    </li>
                    <li>
                        <a class='sidebar-link get-link' data-link="/RolesAndResponsibilities/AssignRoles/" href="javascript:void(0);" style="color: #f1c07b;">Responsibilities</a>
                    </li>
                    <li>
                        <a class='sidebar-link get-link' data-link="/RolesAndResponsibilities/RolesResponsibilitiesCreation/" href="javascript:void(0);" style="color: #f1c07b;">Roles Assignment</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="dealer">
                    <span class="icon-holder">
                        <i class="fa fa-1x fa-id-badge custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Dealership Management</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="cash counter">
                    <span class="icon-holder">
                        <i class="fa fa-1x fa-cash-register custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Cash Counter</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="file management">
                    <span class="icon-holder">
                        <i class="fa fa-1x fa-file custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Files Management</span>
                </a>
            </li>
            <li class="nav-item dropdown ">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="plot management">
                    <span class="icon-holder">
                        <i class="fa fa-1x fa-file custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Plots Management</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="file delivery">
                    <span class="icon-holder">
                        @*<i class="c-blue-500 ti-share"></i>*@
                        <i class="fa fa-1x fa-file-export custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">File Delivery</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="transfer requests">
                    <span class="icon-holder">
                        @*<i class="c-teal-500 ti-receipt"></i>*@
                        <i class="fa fa-1x fa-exchange-alt custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Transfer Requests</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="accounts">
                    <span class="icon-holder">
                        @*<i class="c-purple-500 ti-agenda"></i>*@
                        <i class="fa fa-1x fa-calculator custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Accounts</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="audit">
                    <span class="icon-holder">
                        @*<i class="c-pink-500 ti-user"></i>*@
                        <i class="fa fa-1x fa-file-alt custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Audit</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="prj management">
                    <span class="icon-holder">
                        @*<i class="c-orange-500 ti-write"></i>*@
                        <i class="fa fa-1x fa-project-diagram custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Project Management</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="asset">
                    <span class="icon-holder">
                        @*<i class="c-pink-500 ti-user"></i>*@
                        <i class="fa fa-1x fa fa-briefcase custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Assets Management</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="vehical">
                    <span class="icon-holder">
                        @*<i class="c-pink-500 ti-user"></i>*@
                        <i class="fa fa-1x fa fa-car custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Vehical Management</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="hr">
                    <span class="icon-holder">
                        @*<i class="c-pink-500 ti-user"></i>*@
                        <i class="fa fa-1x fa fa-users  custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Human Resource</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="call center">
                    <span class="icon-holder">
                        @*<i class="c-pink-500 ti-headphone-alt"></i>*@
                        <i class="fa fa-1x fa fa-headset  custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Call Center</span>
                </a>
            </li>
            @*<li class="nav-item dropdown">
                    <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="tickets">
                        <span class="icon-holder">
                            <i class="c-pink-500 ti-ticket"></i>
                        </span>
                        <span class="title">Tickets</span>
                    </a>
                </li>*@
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="sa marketing">
                    <span class="icon-holder">
                        @*<i class="c-pink-500 ti-user"></i>*@
                        <i class="fa fa-1x fa fa-bullhorn  custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">SA Marketing</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="property exchange">
                    <span class="icon-holder">
                        @*<i class="c-deep-purple-500 ti-archive"></i>*@
                        <i class="fa fa-1x fa fa-exchange-alt custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">SAG Property Exchange</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="reports">
                    <span class="icon-holder">
                        @*<i class="c-blue-500 ti-user"></i>*@
                        <i class="fa fa-1x fa-chart-line custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Reports</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle ceo-dash-tile" href="javascript:void(0);" data-dash="service charges">
                    <span class="icon-holder">
                        @*<i class="c-orange-500 ti-server"></i>*@
                        <i class="fa fa-1x fa fa-coins custom-icon"></i>
                    </span>
                    <span class="title" style="color: #f1c07b;">Service Charges</span>
                </a>
            </li>
        </ul>
    </div>
</div>