@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_Attendance_Report_Graphical_Result>
<div class="col-md-12">
    <div class="row" style="align-items: flex-end;">
        <div class="col-md-3">
            <div class="col-md-6">From :</div>
            <div class="col-md-10">
                <input type="text" class="form-control st-dt-khjdf" placeholder="From Date" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-6">To :</div>
            <div class="col-md-10">
                <input type="text" class="form-control en-dt-khjdf" placeholder="To Date" />
            </div>
        </div>

        <div class="col-md-3">
            <div class="col-md-10">Department :</div>
            <div class="col-md-10">
                <select class="form-control dep-att-lst-gskfskj" multiple>
                    <option>All</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <button class="btn btn-primary get-att-rep-btn-fkajh">Update</button>
            <button class="btn btn-primary dets-att-rep-btn-fkajh">Details</button>
        </div>
    </div>
</div>
<div  id="att_rep-ghjd">
</div>

<script>
    $(document).ready(function(){
        let cats = [];
    let sers = [];
    let attModelData = @Html.Raw(Json.Encode(Model));
    $.each(attModelData, function (index, value) {
        cats.push(value.AttendanceDayString);
    });

    sers.push({
        name: 'Present',
        data: attModelData.map(x => x.Presents)
    });
    sers.push({
        name: 'Absents',
        data: attModelData.map(x => x.Absents)
    });
    sers.push({
        name: 'Late Comers',
        data: attModelData.map(x => x.LateComings)
    });
    sers.push({
        name: 'Early Checkouts',
        data: attModelData.map(x => x.EarlyCheckOuts)
    });

    Highcharts.chart('att_rep-ghjd', {

        chart: {
            type: 'column',
            backgroundColor: '#212639'
        },

        title: {
            text: 'Attendance Report'
        },

        xAxis: {
            categories: cats,
        },
        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: ''
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + Number(this.y).toLocaleString() + '<br/>'
            }
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: sers
    });
    });

</script>
