@model List<MeherEstateDevelopers.Models.Sp_Get_FilesReport_Short_Result>
  @{ 
      var res1 = Model.Where(x => x.Status == 1).SingleOrDefault();
      var res2 = Model.Where(x => x.Status == 2).SingleOrDefault();
      var res3 = Model.Where(x => x.Status == 5).SingleOrDefault();
      var res4 = Model.Where(x => x.Status == 0).SingleOrDefault();
  }
<div class='col-md-2'>
    <div class="layers bd bgc-white p-10 mt-2">
        <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed">
                    <h6 class="lh-1">Registered</h6>
                </div>
                <div class="peer">
                    <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">@res1.Total</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='col-md-2'>
    <div class="layers bd bgc-white p-10 mt-2">
        <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed">
                    <h6 class="lh-1">Pending</h6>
                </div>
                <div class="peer">
                    <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">@res2.Total</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='col-md-2'>
    <div class="layers bd bgc-white p-10 mt-2">
        <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed">
                    <h6 class="lh-1">Cancelled</h6>
                </div>
                <div class="peer">
                    <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">@res4.Total</span>
                </div>
            </div>
        </div>
    </div>
</div>