@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div class="row gap-20 pos-r">
    <div class="col-md-12">
        <div class="bgc-white p-20 bd">
            <div class="mT-30">
                <div class="form-row row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Block</label>
                                @Html.DropDownList("Blocks", null, "Choose..", new { @class = "form-control", required = "" })
                            </div>
                            <div class="col-md-1 form-group">
                                <button id="ser-out-Plot-files" style="margin-top:29px" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7" id="tab-data"></div>
                <div class="col-md-5" id="rpt-data"></div>
                <div class="col-md-12" id="plot-det"></div>
            </div>
        </div>
    </div>
</div>