@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}


<div class="row">
    <div class="col-md-12">
        <div class="bdrs-3 ov-h bgc-white p-10 bd">
            <div class="form-row">
                <h5>Custome Search Filters</h5>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>From</label>
                    <input type="text" id="from" class="form-control" data-provide="datepicker" />
                </div>
                <div class="form-group col-md-2">
                    <label>To</label>
                    <input type="text" id="to" class="form-control" data-provide="datepicker" />
                </div>
                <div class="form-group col-md-2">
                    <label style="width:100%">Recovery Type</label>
                    @Html.DropDownList("Type", null, null, new { @class = "form-control rece-type bc", multiple = "" })
                </div>
                <div class="form-group col-md-2">
                    <label style="width:100%">Users</label>
                    @Html.DropDownList("Users", null, null, new { id = "users", @class = "form-control pay-typ bc", multiple = "" })
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-info acc-sea-res" style="margin-top:29px">Search</button>
                </div>
                <div class="form-group col-md-2">
                    <a href="#" class="btn btn-primary" style="margin-top:29px;float:right" id="test" onClick="javascript:fnExcelReport('Custom Report');">Download</a>
                </div>
            </div>
            <div class="form-row" id="report">
            </div>
        </div>
    </div>
</div>
<style>
    table tr td, table tr th {
        padding: 2px !important;
        font-size: 12px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.bc').select2();
        var from = $("#from").val();
        var to = $("#to").val();
        var user = $("#users").val();
        var type = $("#Type").val();
        SASLoad($('#report'));
        $("#report").load("/Reports/SearchAccountReport/", { From: from, To: to, Users: user, Type: type }, function () {
            SASUnLoad($("#report"));
        });
    });
   
</script>