
@{
    ViewBag.Title = "ServiceChargesBills";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div class="form-row">
    <div class="form-group col-md-3">
        <label>Month</label>
        <select class="form-control" id="months">
            <option value="" selected disabled>Choose Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>

    </div>
    <div class="form-group col-md-3">
        <label>Years</label>
        <select class="form-control" id="year">
            <option value="" selected disabled>Choose year</option>
        </select>
    </div>
    <div class="form-group col-md-1">
        <label>Block</label>
        @Html.DropDownList("Blocks",null,null, new { @class = "form-control blocklist", required = "",multiple="" })
    </div>
    <div class="form-group col-md-1">
        <label>Search</label>
        <button id="servce-plt-lst" class="btn btn-primary btn-block">Search</button>
    </div>
</div>

<div class="form-row">
    <div class="col-md-12" id="plot-ser-det">
        @{Html.RenderAction("ServiceCharges", "Reports", new { month = DateTime.Now, year = DateTime.Now });}
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.blocklist').multiselect({
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            enableFiltering: true,
            maxHeight: 200,
           
        });
   
        const monthNames = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"
        ];
        var qntYears = 10;
        var selectYear = $("#year");
      
        var currentYear = new Date().getFullYear();

        for (var y = 0; y < qntYears; y++) {
            let date = new Date(currentYear);
            var yearElem = document.createElement("option");
            yearElem.value = currentYear
            yearElem.textContent = currentYear;
            selectYear.append(yearElem);
            currentYear--;
        }

        var d = new Date();
        var month = d.getMonth();
        var year = d.getFullYear();
        var day = d.getDate();

       
    });
</script>