@model MeherEstateDevelopers.Models.Company

@{ if (User.IsInRole("Administrator")) {
        Layout = "~/Views/Shared/_AdminLayout.cshtml"; } else { Layout = "~/Views/Shared/_StaffLayout.cshtml"; } }
<div class="row gap-20 pos-r">
    <div class="col-md-12">
        <div class="bgc-white mT-30 p-20 bd">
            <h6 class="c-grey-900">Add Company</h6>
            @using (Html.BeginForm("CreateCompany", "Company", FormMethod.Post, new { @id = "c-com", @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Name</label>
                        @Html.EditorFor(model => model.Company_Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group col-md-3">
                        <label>NTN</label>
                        @Html.EditorFor(model => model.NTN, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <button type="submit" class="btn btn-primary">Add Company</button>
                </div>
            }
        </div>
    </div>
</div>