@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

<div class="form-row bgc-white">
    <div class="col-md-12">
        <h5 style="text-align:center">My Reminders</h5>
        <hr />
    </div>
    <div class="col-md-12">
        <div class="vertical-menu">
            <a href="javascript:void(0)" class="active sideLink" data-typ="Open">Upcoming</a>
            <a href="javascript:void(0)" class="sideLink" data-typ="Passed">Passed</a>
            <a href="javascript:void(0)" class="sideLink" data-typ="Closed">Closed</a>
        </div>
    </div>
    <div class="col-md-12">
        <div id="remnidersList" class="tab-pane">
            @{ Html.RenderAction("GetRemindersByType", "Reminders", new { type = "Open" });}
        </div>
    </div>
</div>
<script>
    $('.sideLink').unbind().click(function () {
        if (!$(this).hasClass('active')) {
            $(this).addClass('active');
            $(this).prevAll('.sideLink').removeClass('active');
            $(this).nextAll('.sideLink').removeClass('active');
            let typeOfLink = $(this).attr('data-typ');
            SASLoad($('#remnidersList'));
            $('#remnidersList').load('/Reminders/GetRemindersByType/', { type: $(this).attr('data-typ') }, function () {
                SASUnLoad($('#remnidersList'));
            });
        }
    });
</script>

<style>
    .vertical-menu {
        /*width: 200px;*/
        display: flex;
        justify-content: center;
    }

        .vertical-menu a {
            background-color: #eee;
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
            min-width: 10%;
        }

            .vertical-menu a:hover {
                background-color: #ccc;
            }

            .vertical-menu a.active {
                background-color: #D0232A;
                color: white !important;
            }
</style>