<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\Tech\Documents\Publish Folder\MeherEstateDevelopers.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>MED_MIS</DeployIisAppPath>
    <_TargetId>IISWebDeployPackage</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MeherEstateDevelopers.Models.House_Of_HeritageEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MeherEstateDevelopers.Models.House_Of_HeritageEntities, MeherEstateDevelopers" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="NewIdentity" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MeherEstateDevelopers.Models.ApplicationDbContext, MeherEstateDevelopers" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MED_MISEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MeherEstateDevelopers.Models.MED_MISEntities, MeherEstateDevelopers" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MED_MISEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MeherEstateDevelopers.Models.House_Of_HeritageEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NewIdentity-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MeherEstateDevelopers.Models.House_Of_HeritageEntities" />
  </ItemGroup>
</Project>