@using (Html.BeginForm("FinalComCancelation", "Commercial", FormMethod.Post, new { @id = "com-fin-can", @class = "", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="can-id" name="Id" />
    <input type="hidden" id="can-type" name="Type" />
    <input type="hidden" id="com-c-id" name="ComId" />
    <input type="hidden" id="imge" name="FileImage" />
    <input type="hidden" id="Status" name="Status" value="true" />
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Approval Status</label>
            <select class="form-control" name="Status" id="stat">
                <option>Choose..</option>
                <option value="true">Approved</option>
                <option value="false">Rejected</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label>Remarks</label><textarea class="form-control" name="Remarks" id="Remarks"></textarea>
        </div>
        <div class="form-group col-md-4">
            <label>Desciption Written on Voucher</label><textarea class="form-control" name="Description" id="Remarks"></textarea>
        </div>
    </div>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Amount</label>
            <input class="form-control coma" placeholder="50,000" id="amtcom" value="" required>
            <input type="hidden" id="amt" name="Amount" class="amt" required value="">
        </div>
        <div class="form-group col-md-2">
            <label>Cash / Bank</label>
            <select class="form-control paytypesel-test" id="cah-chq-bak" name="PaymentType">
                <option value="Cash">Cash</option>
                <option value="BankDraft">Bank Draft</option>
                <option value="Cheque">Cheque</option>
                <option value="PayOrder">Pay Order</option>
                <option value="Online_Cash">Online - Cash</option>
                <option value="Online_Cheque">Online - Cheque</option>
                <option value="Online_Payorder">Online - PayOrder</option>
                <option value="Online_Bankdraft">Online - BankDraft</option>
            </select>
        </div>
        <div class="form-group col-md-3 paymentotherinfo">
            <label id="paytypelabel"></label>
            <input type="text" class="form-control" id="paymenttype" name="PayChqNo" placeholder="" disabled>
        </div>
        <div class="form-group col-md-3 paymentotherinfo">
            <label>Bank</label>
            @Html.DropDownList("Bank", null, "Choose..", new { @class = "form-control", disabled = "" })
        </div>
        <div class="form-group col-md-2 paymentotherinfo">
            <label>Branch </label>
            <input type="text" class="form-control" id="Branch" name="Branch" placeholder="Mall Rd" disabled>
        </div>
        <div class="form-group col-md-2 paymentotherinfo">
            <label>Date</label>
            <input type="text" class="form-control" id="cbp-date" data-provide="datepicker" name="Ch_bk_Pay_Date" placeholder="mm/dd/yyyy" disabled required>
        </div>
        <div class="form-group col-md-1 paymentotherinfo">
            <label>Scan File </label>
            <button class=" btn btn-primary" data-v="1" type="button" id="scanbtn">Scan</button>
        </div>
        <div id="images-1" class="col-md-2"></div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#can-id").val($("#can-req-id").val());
        $("#can-type").val($("#type").val());
        $("#com-c-id").val($("#shp-id").val());
        $("#amtcom").val(Number( $("#amtc").val()).toLocaleString());
        $("#amt").val($("#amtc").val());
    });
</script>