



   
        <label>Select Installment Structure</label>
        @Html.DropDownList("InstallmentStruct", null, "Choose..", new { @class = "form-control com__inst__get", required = "" })
<input type="hidden" value="@ViewBag.Shopid" id="shop__id"/>

    <label>Discount %</label>
    <input type="text" id="ins__dis"class="form-control col-md-2" placeholder="%"/>


 

