<div class="form-row">
    <div class="form-group col-md-4">
        <label class="">Type of Reinstation</label><select class="form-control" id="re-val">
            <option value="">Select Type</option>
                <option value="Registered">Register</option>
        </select>
    </div>
    <div class="form-group col-md-4"><label class="">Remarks</label><textarea class="form-control" id="remark"></textarea></div>
</div>