
@{
    Layout = null;
}
<style>
    body {
        font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
    }

    .bg {
        height: 1400px;
        width: 1100px;
        /*        background-image: url('../../Repository/New_App_Form_Bg_Image.png');
    */ /*background-size: 1100px 1400px;*/
        background-repeat: no-repeat;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .column {
        flex: 1;
        padding: 5px;
    }

    .logo {
        width: 200px; /* Adjust width as needed */
        height: 200px; /* Adjust height as needed */
        /* Other styling properties */
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IssuanceOfNDC</title>
</head>
<body>
    <div class="bg" style="padding: 0; margin: 0">

        <div class="row" style="">
            <div class="column" style="margin-left:0px; text-align:center">
                <b style="border-bottom: 1px solid black; font-size:25px">APPLICATION FOR OBTAINING NDC</b>
            </div>
        </div>
        <div class="row" style="margin-left:40px; margin-top: 80px;">
            <div class="column" style="margin-left:0px; text-align:left">
                <b>To, </b>
            </div>
            <div class="column" style="margin-left:0px; text-align:left">
                Transfer Officer,
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
        </div>
        <div class="row" style="margin-left:40px">
            <div class="column" style="margin-left:0px; text-align:left">
            </div>
            <div class="column" style="margin-left:0px; text-align:left">
                Grand City Kharian
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
            <div class="column">
            </div>
        </div>
        @*<div class="row" style="margin-left:40px">
            <div class="column" style="margin-left:0px; text-align:left">
                The Customer Service Department,
            </div>
        </div>
        <div class="row" style="margin-left:40px">
            <div class="column" style="margin-left:0px; text-align:left">
                Grand City Kharian, Sarai Alamgir,
            </div>
        </div>*@
        <div class="row">
            <div class="column" style="margin-left:40px; text-align:left">
                <span style="display: inline-block; width: 100px;"><b>Subject:</b>  </span>
                <b style="margin-left: 110px; border-bottom: 1px solid black;">  ISSUANCE OF NDC</b>
            </div>
        </div>
        <table cellspacing="0" border="0" style="width: 1030px; font-size: 16px; margin-top: 20px; margin-left: 40px;">
            <tr>
                <td align="left" valign=bottom style="line-height: 30px;">
                    <p>
                        It is Submitted that I, <u style="width: 850px; text-align: center; display: inline-block; border-bottom: 1px solid black; text-decoration: none; ">Muhanmmad Awais Khan S/O Muhammad Ilyas</u>
                        <u style="width: 1000px; text-align: left; display: inline-block; border-bottom: 1px solid black; text-decoration: none; ">Salman Street house no S-3 52, Mohallah Ismabad Samanabad Lahore, Pakistan</u>
                    </p>
                </td>
            </tr>
        </table>
        <div class="row" style="margin-left:40px; margin-top: 20px;">
            <div class="column" style="margin-left:0px; text-align:left">
                I am a bonafide member of Grand City Kharian. Details of my plot are as follows:
            </div>
        </div>
        <table cellspacing="0" border="0" style="width: 1030px; font-size: 16px; margin-top: 0px; margin-left: 40px;">
            <tr>
                <td align="left" valign=bottom style="line-height: 30px;">
                    <p>
                        <b>Plot No. </b> <u style="width: 190px; text-align: center; display: inline-block; border-bottom: 1px solid black; text-decoration: none; ">458</u>
                        <b>Size. </b> <u style="width: 190px; text-align: center; display: inline-block; border-bottom: 1px solid black; text-decoration: none; ">1125</u>
                        <b>Block No. </b> <u style="width: 190px; text-align: center; display: inline-block; border-bottom: 1px solid black; text-decoration: none; ">TULIP1</u>
                        <b>Phase </b> <u style="width: 189px; text-align: center; display: inline-block; border-bottom: 1px solid black; text-decoration: none; ">1</u>

                    </p>
                </td>
            </tr>
        </table>
        <div class="row" style="margin-left:40px; margin-top: 5px;">
            <div class="column" style="margin-left:0px; text-align:left">
                I Intend to transfer my plot and hereby request for issuance of NDC. Deposit Slip of NDC fee (Rs.500) is attached.
            </div>
        </div>
        <div class="row" style="margin-left:40px; margin-top:50px;">
            <div class="column" style="margin-left:0px; text-align:left">
            </div>
            <div class="column" style="margin-left: 500px; text-align: left ">
                <b>Applicant's Signatures</b>
            </div>
        </div>
        <div class="row" style="margin-left:40px;">
            <div class="column" style="margin-left: 0px; text-align: left">
            </div>
            <div class="column" style="margin-left:500px; text-align:left">
                <b>Dated: </b> 07/Dec/2023
            </div>
        </div>
        <div class="row" style="">
            <div class="column" style="margin-left:0px; margin-top:5px; text-align:center">
                <b style="border-bottom: 1px solid black; font-size:18px">FOR OFFICE USE ONLY</b>
            </div>
        </div>
        <table cellspacing="0" border="1" style="width: 1015px; font-size: 21px; margin-top: 10px; margin-left: 40px;">
            <tr>
                <td align="center" valign="top" style="height: 100px; width: 200px; ">
                    <b>Two Planner</b>
                </td>
                <td align="center" valign="bottom" style="height: 100px; width: 700px; ">
                    <div style="float: left; width: calc(50% - 1px); border-right: 1px solid black; height: 100px;">
                        <div style="height: 50%; border-bottom: 1px solid black;">
                            <b>Plot Size</b>
                        </div>
                        <!-- Second row -->
                        <div style="height: 50%;">
                            <b>Category</b>
                        </div>
                    </div>
                    <!-- Second column of the second cell -->
                    <div style="float: left; width: calc(50% - 1px); height: 100px;">

                    </div>
                    <!-- Clear floating elements -->
                    <div style="clear: both;"></div>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top" style="height: 100px; width: 200px; ">
                    <b>GM Record</b>
                </td>
                <td align="center" valign="bottom" style="height: 100px; width: 700px; ">
                </td>

            </tr>
            <tr>
                <td align="center" valign="top" style="height: 100px; width: 200px; ">
                    <b>External Auditor</b>
                </td>
                <td align="center" valign="bottom" style="height: 100px; width: 700px; ">
                </td>

            </tr>
            <tr>
                <td align="center" valign="top" style="height: 100px; width: 200px; ">
                    <b>EDF</b>
                </td>
                <td align="center" valign="bottom" style="height:100px; width: 700px; ">
                    <div style="float: left; width: calc(50% - 1px); border-right: 1px solid black; height: 100px;">
                        <div style="height: 50%; border-bottom: 1px solid black;">
                            <b>Verified By</b>
                        </div>
                        <!-- Second row -->
                        <div style="height: 50%;">

                        </div>
                    </div>
                    <!-- Second column of the second cell -->
                    <div style="float: left; width: calc(50% - 1px); height: 100px;">

                    </div>
                    <!-- Clear floating elements -->
                    <div style="clear: both;"></div>
                </td>

            </tr>
            <tr>
                <td align="center" valign="top" style="height: 100px; width: 200px; ">
                    <b>EDO</b>
                </td>
                <td align="center" valign="bottom" style="height: 100px; width: 700px; ">
                </td>

            </tr>
        </table>
        <div class="row">
            <div class="column" style="margin-left:40px; margin-top:10px; text-align:left">
                Note: This NDC is valid for NEXT FIFTEEN DAYS only. Please bring all Orignal documents at
                the time of transfer like booking application, intimation letter, allotment letter, and transfer intimation
                letter.
            </div>
        </div>
</body>
</html>
