<input type="text" id="Shop_Id" hidden class="form-control" />

<div class="col-md-12 mt-md-2">
    <div class="form-row cal">
        <input type="number" hidden value="@ViewBag.Shop_Id" id="ShopId" />
        <div class="form-group col-md-2">
            <label style="width:100%">Category</label>
            @Html.DropDownList("Category", null, "Select Category", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group col-md-2">
            <label>Company</label>
            <input type="text" class="form-control" id="comp" />
        </div>
        <div class="form-group col-md-4">
            <label>Product</label>
            <input type="text" class="form-control" id="name" />
        </div>
        <div class="form-group col-md-2">
            <label style="width:100%">UOM</label>
            <select style="padding:5px" class="form-control" id="uom">
                <option value="No.">No.</option>
                <option value="Box">Box</option>
                <option value="Kg">Kg</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Min Qty Level</label>
            <input type="number" class="form-control" id="min-stk" placeholder="23,   56.65">
        </div>
        <div class="form-group col-md-2">
            <label><span id="u-pk"></span> Packing</label>
            <input type="number" class="form-control" id="pking" placeholder="">
        </div>
        <div class="form-group col-md-2 ">
            <label >Size</label>
            <input type="text" class="form-control col-md-6 " id="siz">
        </div>
        <div class="form-group col-md-4">
            <label>Sale Rate</label>
            <input type="text" class="form-control" id="SRate" placeholder="">
        </div>
        <div class="form-group col-md-4">
            <label>Description</label>
            <input type="text" class="form-control" id="desc" placeholder="">

        </div>
    </div>
</div>
<script>
    $('.modal-footer').append('<button type="button" class="btn btn-primary sav-hoh-invt">Save</button>');
    $(document).on("change", "#uom", function () {
        var val = $(this).val();
        $("#u-pk").text(val + "/")
    });





</script>
