@model IEnumerable<MeherEstateDevelopers.Models.HOH_InventoryCategory>
<div class="form-row">
    <div class="col-md-1"><h5>Sr.</h5> </div>
    <div class="col-md-7"><h5>Name</h5> </div>
    <div class="col-md-2"><h5>Code</h5> </div>
    <div class="col-md-2 "></div>
</div>

@{ int i = 1;}
@foreach (var item in Model)
{
    <div class="cat-opt form-row" id="@item.Id">
        <div class="col-md-1"><lable>@i</lable> </div>
        <div class="col-md-7"><lable>@item.Name</lable> </div>
        @if (item.Code == null)
        {
            <div class="col-md-2"><lable>-</lable> </div>
        }
        else
        {
            <div class="col-md-2"><lable>@item.Code</lable> </div>
        }
        <div class="col-md-2"><i class="fas fa-trash cat-del"></i> &nbsp;&nbsp;&nbsp; <i class="fas fa-pencil-alt cat-edit" data-toggle="modal" data-target="#Modal"></i></div>
    </div>
    i++;
}

