@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<input type="text" id="Shop_Id" hidden value="@ViewBag.Shop_Id" class="form-control" />
<div class="row">
    <div class="col-md-12">
        <div class="bdrs-3 ov-h bgc-white p-10 bd">
            <div class="form-row">
                <h2>House of Heritage Purchase Report</h2>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>From</label>
                    <input type="text" id="from" class="form-control" data-provide="datepicker" />
                </div>
                <div class="form-group col-md-2">
                    <label>To</label>
                    <input type="text" id="to" class="form-control" data-provide="datepicker" />
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-info sea-do-hoh-purchase" style="margin-top:29px">Search</button>
                </div>

            </div>
            <div id="report">
            </div>
        </div>
    </div>
</div>
<script>
    var Shop_Id = $("#Shop_Id").val();
    var from = $("#from").val();
    var to = $("#to").val();
    $("#report").load("/hoh/HohPurchase_Search/", { From: from, To: to, Shop_Id: Shop_Id });

    $('.sea-do-hoh-purchase').click(function () {
        var from = $("#from").val();
        var Shop_Id = $("#Shop_Id").val();
        var to = $("#to").val();
        $("#report").load("/hoh/HohPurchase_Search/", { From: from, To: to, Shop_Id: Shop_Id });

    });



    $(function () {
        $('#Users').select2();
    })
</script>