@model MeherEstateDevelopers.Models.HOH_OtherExpense

@using (Html.BeginForm("UpdateOtherExpense", "HOH", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            <h2>House of Heritage Other Expense Report</h2>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Description</label>
                    <input type="text" id="Desc" value="@Model.Description" class="form-control" />
                </div>
                <div class="form-group col-md-2">
                    <label>Amount</label>
                    <input type="number" id="amnt" value="@string.Format("{0:n0}", Model.Amount)" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label>Date</label>
                    <input type="text"  id="Date" class="form-control"  value="@string.Format("{0:D}", Model.Date)"  data-provide="datepicker" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    $('.modal-footer').append('<button class="btn btn-info up-Othr-expns-hoh" type="submit" id="@Model.Id" >Update</button>');
</script>