@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class="row gap-20  pos-r">
    <div class="col-md-8">
        <div class="default-div-bg p-20 bd">
            <h6 class="heading-lgt-onDark">Add Connection Charges</h6>
            <div class="mT-30">
                @using (Html.BeginForm("AddConnectionCharge", "ServiceCharges", FormMethod.Post, new { @id = "ad-con-ch", @class = "", role = "form", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="inputCity">Name</label>
                            <input type="text" class="form-control" name="Connection_Name" id="" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputState">Type</label>
                            <select name="Type" class="form-control">
                                <option value="Constant">Constant</option>
                                <option value="PerMarla">Per Marla</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputState">Plot Type</label>
                            <select name="Plot_Type" class="form-control">
                                <option value="Commercial">Commercial</option>
                                <option value="Residential">Residential</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCity">Rates</label>
                            <input type="text" class="form-control" name="Charges" id="" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                }
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="default-div-bg p-20 bd">
            <h6 class="heading-lgt-onDark">Connection Charges</h6>
            <div class="mT-30" id="Con-lst">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Con-lst").load("/ServiceCharges/ConnectionChargesList/");
    });
</script>