@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<script src="~/Scripts/scanning.js"></script>
<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row gap-20 pos-r">
    <div class="col-md-12">
        <div class="bgc-white p-20">
            <div class="form-row row">
                <div class="col-md-12">
                    <div class="form-row">
                        <div class="form-group col-md-2 file-plot-sel" style="">
                            <label>File/Plot</label>
                            <select id="fil-plot-dd" class="form-control fil-plot-dd">
                                <option value="Plot">Plot</option>
                                <option value="File">File</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2 ">
                            <label>File/Plot No</label>
                            <input type="text" class="form-control" name="plotno" id="plotno" required placeholder="Plot No." />
                        </div>
                        @*<div class="form-group col-md-2 file-field">
                            <label>File No</label>
                            <input type="text" class="form-control" name="fileno" id="fileno" required placeholder="Plot No." />
                        </div>*@
                        <div class="form-group col-md-2 plt-field">
                            <label>Block</label>
                            @Html.DropDownList("Block", null, "Choose..", new { @class = "form-control blk-plots", required = "" })
                        </div>
                        <div class="form-group col-md-2 ">
                            <label>Type</label>
                            <select class="form-control" id="plttype" name="plttype">
                                <option value="Residential">Residential</option>
                                <option value="Commercial">Commercial</option>
                            </select>
                        </div>

                        @if (!User.IsInRole("ReadOnly"))
                        {
                            <div class="col-md-1 form-group"><button type="button" id="plot-info-searcher" style="margin-top:29px" class="btn btn-primary">Search</button></div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @*<h6 class="heading-lgt-onDark">Plot information</h6>*@
        <div class="mT-30">
            <div class="form-row row">
                <div class="col-md-12" id="plot-det-dfasgjkhafjkdgs">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#plot-info-searcher').click(function (e) {
            debugger;
            e.preventDefault();
            $('#plot-det-dfasgjkhafjkdgs').empty();
            let plt = $('#plotno').val();
            let tp = $('#plttype option:selected').val();
            let blk = $('#Block option:selected').val();
            let pltfile = $('#fil-plot-dd').val();

            if (plt == '' && plt == undefined) {
                //alert('Enter a file number before proceeding.');
                Swal.fire({
                    icon: 'info',
                    text: 'Enter a file or plot number before proceeding'
                });
                return;
            }
            else if (blk == undefined || blk == '' && pltfile == 'Plot') {
                //alert('Please select a block before proceeding.');
                Swal.fire({
                    icon: 'info',
                    text: "Please select a block before proceeding"
                });
                return;
            }
            ShowFullScreenLoader();
            $.ajax({
                type: "POST",
                url: '/Installments/FetchInstallmentData/',
                data: { plotno: plt, Block: blk, plttype: tp },
                success: function (data) {
                    if (data) {
                        $('#plot-det-dfasgjkhafjkdgs').append(data);
                    }
                    else {
                        //alert('Failed to find any record.');
                        Swal.fire({
                            icon: 'error',
                            text: "No Record Found"
                        })
                    }
                    HideFullScreenLoader();
                }
                , error: function (xmlhttprequest, textstatus, message) {
                    if (textstatus === "timeout") {
                        //alert("got timeout");
                        Swal.fire({
                            icon: 'error',
                            text: "Request timed out"
                        });
                    } else {
                        //alert('Failed to proceed with the request.');
                        Swal.fire({
                            icon: 'error',
                            text: 'Failed to proceed with the request'
                        });
                    }
                    HideFullScreenLoader();
                }
            });
        });
    });
    
        $(document).on('change', '.fil-plot-dd', function () {
        if ($(this).val() == "File") {
            $(".file-field").show();
            $(".plt-field").hide();
        }
        else {
            $(".file-field").hide();
        $(".plt-field").show();
        }
    });

</script>
