﻿@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="bdrs-3 ov-h bgc-white p-10 bd">
            <div class="form-row">
                <h5>Un-identified Receipts</h5>
            </div>
            <div class="form-row float-right">
                <button class="btn btn-secondary" style="float:right" id="on-btn-man_un_supr" name="rece-btn-man" data-toggle="modal" data-target="#Modal">Un Identified Receipts</button>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label>From</label>
                    <input type="text" id="from" class="form-control" data-provide="datepicker" />
                </div>
                <div class="form-group col-md-2">
                    <label>To</label>
                    <input type="text" id="to" class="form-control" data-provide="datepicker" />
                </div>
                @*<div class="form-group col-md-2">
                    <label>Bank</label>
                    <select class="form-control" id="bank">
                        <option>Choose..</option>
                        <option value="Dubai Islamic Bank">Dubai Islamic Bank</option>
                        <option value="Habib Bank">Habib Bank Limited</option>
                    </select>
                </div>*@
                <div class="form-group col-md-3">
                    <label for="bank">Bank</label>
                    @Html.DropDownList("Bank", ViewBag.BankList as SelectList, "Choose..", new { @class = "form-control", @id = "bank" })
                </div>

                @*<div class="form-group col-md-3">
                    <label>Bank</label>
                    @Html.DropDownList("Bank", null, "Choose..", new { @class = "form-control" })
                </div>*@
                <div class="form-group col-md-2">
                    <button class="btn btn-info Un-identified-res-bkmis" style="margin-top:29px">Search</button>
                </div>
            </div>
            <div class="form-row">
                <div class="table-responsive" id="report">
                    @*@{ Html.RenderAction("Search_BanksMIS", "Banking", new { From = DateTime.Now, To = DateTime.Now });}*@
                </div>
            </div>
        </div>
    </div>
</div>