@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    
    <style>

        .bg {
            height: 794px;
            width: 1123px;
            margin-left: 0;
            /*font-family: sans-serif;*/
        }

        @@media print {
            .bg {
                height: 794px;
                width: 1123px;
                margin-left: 0;
            }
        }

        p {
            font-size: 14pt;
        }

            p label {
                font-size: 14pt;
            }
            
        td {
            font-size: 14pt;
            text-align:center;
      
        }
        th {
            font-size: 14pt;
            text-align: center;
         
        }
    </style>
</head>
<body style="padding: 0; margin: 0">
    <div class="bg" style="padding: 0; margin-left: 10px; margin-right:10px">
        <img src="~/Content/K-04.png" alt="Alternate Text" style="margin-left: auto; margin-right: auto; display: block; height: 60px; width:80px;padding-top:20px " />
        <div style="height: 20px; background-color: black;color: white">
            <p style="text-align: center; letter-spacing: 2px; padding-top: 1px">PAYMENT RELEASE VOUCHER</p>
        </div>
        <p style="margin-top: 8px">
            <label style="width: 142px;max-width: 14px">Name: </label><label style="width: 350px; max-width: 350px;border-bottom: 1px solid black"></label><label style="width: 80px; max-width: 14px;"> &nbsp; Date:</label><label style="width: 300px; max-width: 300px;border-bottom: 1px solid black"></label>
        </p>
        <p>
            <label style="width: 14px;max-width: 14px">Cost: </label><label style="width: 336px; max-width: 336px;border-bottom: 1px solid black"></label>
        </p>
        <table class="main" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 5%">Sr#</th>
                    <th style="width: 20%">Particular</th>
                    <th style="width: 10%">Total Cost</th>
                    <th style="width: 10%">%</th>
                    <th style="width: 10%">Paid Amount</th>
                    <th style="width: 15%">Advance Deduction</th>
                    <th style="width: 15%">Netpayable</th>
                    <th style="width: 15%">Balance Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 5%">Sr#</td>
                    <td style="width: 20%">Particular</td>
                    <td style="width: 10%">Total Cost</td>
                    <td style="width: 10%">%</td>
                    <td style="width: 10%">Paid Amount</td>
                    <td style="width: 15%">Advance Deduction</td>
                    <td style="width: 15%">Netpayable</td>
                    <td style="width: 15%">Balance Amount</td>
                </tr>
                <tr>
                    <td style="width: 5%">Sr#</td>
                    <td style="width: 20%">Particular</td>
                    <td style="width: 10%">Total Cost</td>
                    <td style="width: 10%">%</td>
                    <td style="width: 10%">Paid Amount</td>
                    <td style="width: 15%">Advance Deduction</td>
                    <td style="width: 15%">Netpayable</td>
                    <td style="width: 15%">Balance Amount</td>
                </tr>
                <tr>
                    <td style="width: 5%">Sr#</td>
                    <td style="width: 20%">Particular</td>
                    <td style="width: 10%">Total Cost</td>
                    <td style="width: 10%">%</td>
                    <td style="width: 10%">Paid Amount</td>
                    <td style="width: 15%">Advance Deduction</td>
                    <td style="width: 15%">Netpayable</td>
                    <td style="width: 15%">Balance Amount</td>
                </tr>
                <tr>
                    <td style="width: 5%">Sr#</td>
                    <td style="width: 20%">Particular</td>
                    <td style="width: 10%">Total Cost</td>
                    <td style="width: 10%">%</td>
                    <td style="width: 10%">Paid Amount</td>
                    <td style="width: 15%">Advance Deduction</td>
                    <td style="width: 15%">Netpayable</td>
                    <td style="width: 15%">Balance Amount</td>
                </tr>
                <tr>
                    <td style="width: 5%">Sr#</td>
                    <td style="width: 20%">Particular</td>
                    <td style="width: 10%">Total Cost</td>
                    <td style="width: 10%">%</td>
                    <td style="width: 10%">Paid Amount</td>
                    <td style="width: 15%">Advance Deduction</td>
                    <td style="width: 15%">Netpayable</td>
                    <td style="width: 15%">Balance Amount</td>
                </tr>
                <tr>
                    <td style="width: 5%">Sr#</td>
                    <td style="width: 20%">Particular</td>
                    <td style="width: 10%">Total Cost</td>
                    <td style="width: 10%">%</td>
                    <td style="width: 10%">Paid Amount</td>
                    <td style="width: 15%">Advance Deduction</td>
                    <td style="width: 15%">Netpayable</td>
                    <td style="width: 15%">Balance Amount</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th style="width: 5%">Total</th>
                    <td style="width: 20%">Particular</td>
                    <td style="width: 10%">Total Cost</td>
                    <td style="width: 10%">%</td>
                    <td style="width: 10%">Paid Amount</td>
                    <td style="width: 15%">Advance Deduction</td>
                    <td style="width: 15%">Netpayable</td>
                    <td style="width: 15%">Balance Amount</td>
                </tr>
            </tfoot>
        </table>
        @*<p style="margin-top: 40px">
                <label style="width: 250px;max-width: 250px">Prepared by </label><label style="width: 3252px; max-width: 3252px;border-bottom: 5px solid black"></label>
            </p>*@
        <p style="margin-top: 5px">
            <label style="width: 60px; max-width: 60px; ">Prepared by</label><label style="width: 115px; max-width: 115px;"></label>
            <label style="width: 60px; max-width: 60px;font-weight: bolder">Head of department</label><label style="width: 115px; max-width: 115px;"></label>
        </p>
        <p style="margin-top: -12px">
            <label style="width: 23px; max-width: 23px;"></label><label style="width: 152px; max-width: 152px;border-bottom: 1px solid black"></label>
            <label style="width: 39px; max-width: 39px;">Desigination</label><label style="width: 1350px; max-width: 1350px;border-bottom: 1px solid black"></label>
        </p>
        @*<p style="margin-top: 60px; margin-bottom: 0;padding-bottom: 0">
            <label style="width: 50px; max-width: 50px;font-weight: bolder"> Shoaib Afzal Malik</label><label style="width: 300px; max-width: 300px;"></label>
        </p>*@
        <br/>
        <p style="margin-top: -30px; margin-bottom: 0;padding-bottom: 0">
            <label style="width: 40px; max-width: 40px;">CEO </label><label style="width: 310px; max-width: 310px;border-bottom: 1px solid black"></label>
        </p>
    </div>
</body>
</html>
<style>
    label {
        /*overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;*/
    }
    th {
        border: 1px solid black;
        border-collapse: collapse;
        border-spacing: 0px;
        font-size: 14pt;
    }
    tr {
        height: 35px
    }
    .main {
        border-spacing: 0px;
        border-collapse: collapse; 
        border: 1px solid black; 
        margin-top: 15px;
    }
        .main th {
            border: 1px solid black;
            border-collapse: collapse;
            border-spacing: 0px;
            font-size: 14pt;
        }
        .main td {
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-collapse: collapse;
            border-spacing: 0px;
            font-size: 11pt;
            text-align: center;
        }
        .main tfoot td {
            border: 1px solid black;
            border-collapse: collapse;
            border-spacing: 0px;
            font-size: 14pt;
        }
        .main tfoot th {
            border: 1px solid black;
            border-collapse: collapse;
            border-spacing: 0px;
            font-size: 14pt;
        }
</style>
