@model MeherEstateDevelopers.Models.Dealership
@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
  }
<div class="row gap-20 pos-r">
    <div class="col-md-10">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Add Dealership</h6>
            <div class="mT-30">
                @using (Html.BeginForm("AddDealer", "Dealership", FormMethod.Post, new { @id = "a-d", @class = "", role = "form", autocomplete="off" }))
                {
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group col-md-12">
                                <label>Dealership Name</label>
                                @Html.EditorFor(model => model.Dealership_Name, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group col-md-12">
                                <label>COA Commission Code</label>
                                @Html.EditorFor(model => model.COA_CommisionCode, new { htmlattributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group col-md-12">
                                <label>COA Code</label>
                                @Html.EditorFor(model => model.COA_Code, new { htmlattributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="dealer-barcode">
                            </div>
                        </div>
                    </div> 
                    <hr />
                    <h6 class="c-grey-900">Dealers Name</h6>
                    <div id="dealers">
                        <div id="dealer-1">
                            <div class="layer w-100">
                                <div class="peers fxw-nw jc-sb ai-c bgc-white">
                                    <div class="peers ai-c">
                                        <div class="peer">
                                            <h6 class="lh-1 mB-0 d-counter">1.</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Name</label>
                                            <input type="text" class="form-control name" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Father Name</label>
                                            <input type="text" class="form-control fname" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label>CNIC / NICOP</label>
                                            <input type="text" class="form-control cnic" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Mobile 1</label>
                                            <input type="text" class="form-control mob1" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Mobile 2</label>
                                            <input type="text" class="form-control mob2" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 dealer-img">
                                    <div class="main-img-preview">
                                        <img class="thumbnail img-preview deal-img" width="170" height="170"  src="~/assets/static/images/def-img.png" />
                                    </div>
                                    <div class="input-group py-3 ml-4">
                                        <div class="fileUpload btn btn-danger fake-shadow">
                                            <span><i class="glyphicon glyphicon-upload"></i> Upload Logo</span>
                                            <input name="logo" type="file" class="attachment_upload">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-3">
                        <a href="javascript:void(0);" class="add-owner"><i class="ti-plus"></i>&nbsp;Add Dealer</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                }
            </div>
        </div>
    </div>
</div>
