@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }

}
<input type="hidden" id="ttlamt" value="" />
<script src="~/Scripts/scanning.js"></script>
<div class="row gap-20 pos-r">
    <div class="col-md-12">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Dealer Payments</h6>
            <div class="mT-30">
                <div class="form-row">
                    <div class="form-group  col-md-3">
                        <label>Payment Nature</label>
                        <select class="form-control ch-del-bal" id="pay-nat">
                            <option value="Advance">Advance</option>
                            <option value="Commission">Commission</option>
                        </select>
                    </div>
                    <div class="form-group  col-md-3">
                        <label>Dealership</label>
                        @Html.DropDownList("Dealership", null, "Select Dealership", htmlAttributes: new { @class = "form-control del-balan ch-del-bal" })
                    </div>
                    <div class="form-group col-md-5">
                        <label>Available Balance: <span id="deal-bal" style="font-weight:bold"></span></label>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Description</label>
                    <textarea id="desc" class="form-control"></textarea>
                </div>
                <div class="col-md-12">
                    <input type="hidden" id="trans-id" name="TransactionId" value="@ViewBag.TransactionId" />
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label>Amount</label>
                            <input class="form-control coma" placeholder="12,345" required>
                            <input type="hidden" id="amt" name="Amount" class="amt" required>
                        </div>
                        <div class="col-md-2 form-group">
                            <label>Tax Account</label>
                            <select class="form-control tax-accounts"></select>
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Tax Amount</label>
                            <input type="text" class="form-control coma tax-amt" placeholder="Tax" />
                        </div>
                        <div class="form-group col-md-2">
                            <label>Cash / Bank</label>
                            <select class="form-control paytypesel-test" id="cah-chq-bak" name="PaymentType">
                                <option value="Cash">Cash</option>
                                <option value="BankDraft">Bank Draft</option>
                                <option value="Cheque">Cheque</option>
                                <option value="PayOrder">Pay Order</option>
                                <option value="Online_Cash">Online - Cash</option>
                                <option value="Online_Cheque">Online - Cheque</option>
                                <option value="Online_Payorder">Online - PayOrder</option>
                                <option value="Online_Bankdraft">Online - BankDraft</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3 paymentotherinfo">
                            <label id="paytypelabel"></label>
                            <input type="text" class="form-control" id="inst-no" name="PayChqNo" placeholder="" disabled>
                        </div>
                        <div class="form-group col-md-3 paymentotherinfo">
                            <label>Bank</label>
                            @Html.DropDownList("Bank", null, "Choose..", new { @class = "form-control", disabled = "" })
                        </div>
                        <div class="form-group col-md-2 paymentotherinfo">
                            <label>Branch </label>
                            <input type="text" class="form-control" id="Branch" name="Branch" placeholder="Mall Rd" disabled>
                        </div>
                        <div class="form-group col-md-2 paymentotherinfo">
                            <label>Date</label>
                            <input type="text" class="form-control" id="inst-date" data-provide="datepicker" name="Ch_bk_Pay_Date" placeholder="mm/dd/yyyy" disabled required>
                        </div>

                        <div class="form-group col-md-1 paymentotherinfo">
                            <label>Scan File </label>
                            <button class=" btn btn-primary" data-v="1" type="button" id="scanbtn">Scan</button>

                        </div>
                        <div id="images-1" class="col-md-10"></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <button class="btn btn-primary del-sec-fee-ret">Generate Voucher</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#Dealership').select2();

        $('.tax-accounts').select2({
            placeholder: "Search for Tax Account",
            ajax: {
                url: '/AccountHeads/GetHeadTaxAccounts/',
                dataType: 'json',
                params: {
                    contentType: 'application/json; charset=utf-8'
                },
                data: function (params) {
                    return {
                        q: params.term// search term
                        //code: '/1/1/1/%'
                    };
                },
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    return {
                        results: $.map(data.items, function (item) {
                            return {

                                text: item.Parent,
                                children: [{
                                    id: item.id,
                                    text: item.text
                                }]
                            }
                        })
                    };
                }
            }
        });
    })
    $(document).on("change", ".ch-del-bal", function () {
        var id = $('.del-balan').val();
        var lednat = $('#pay-nat').val();
        $.ajax({
            type: "POST",
            url: '/Dealership/DealerBalance/',
            data: { DealerId: id, Led_Nature:lednat },
            success: function (data) {
                $('#deal-bal').text('Rs. ' + Number((data.Balance)).toLocaleString());
                $('#ttlamt').val(Number((data.Balance)));
            },
            error: function () {
                alert("Error Occured");
            }
        });
    });
</script>
<style>
    .paymentotherinfo {
        display: none
    }
</style>