@model IEnumerable<MeherEstateDevelopers.Models.Sp_Get_DealFiles_Result>
@{ Layout = "~/Views/Shared/_StaffLayout.cshtml"; }
<div class="row">
    <div class="col-md-10">
        <div class="bgc-white bd bdrs-3 p-20 mB-20" style="margin-left:20%">

            <h4 class="c-grey-900 mB-20">Assign Files</h4>
            <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>File Number</th>
                        <th>Status</th>
                        <th>Generate Voucher</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        foreach (var item in Model.GroupBy(x => new { x.Group_Id, x.FileFormNumber, x.Id, x.Status, x.Installment_Plan_Id ,x.Deal_Voucher_Flag}))
                        {
                            int dealercounter = 1;
                            string statuscolor = "";
                            string status = "";
                            if (item.Key.Deal_Voucher_Flag == true)
                            {
                                statuscolor = "bgc-green-50";
                                status = "Live";
                            }
                            else 
                            {
                                statuscolor = "";
                                status = "Pending";
                            }
                    <tr class="@statuscolor deal" id="@item.Key.Id">
                        <td>@item.Key.FileFormNumber</td>
                        <td>@status</td>
                        @if (item.Key.Deal_Voucher_Flag != true)
                        {
                            <td><button type="button" class="btn btn-primary pointer pnt-deal-vou" id="@item.Key.Installment_Plan_Id">Print Voucher</button></td>
                        }
                        else
                        {
                            <td>Voucher Generatd</td>
                        }
                    </tr>
                            dealercounter++;
                        }
                    }

                </tbody>
            </table>

        </div>
    </div>

</div>

