
<input type="hidden" id="@ViewBag.PlotId" class="plt_id" />
<input type="hidden" id="@ViewBag.Id" class="Local__id" />

<div class="row">
   
        <div class="col-md-6">
            <labl>Witness 1</labl>
            <input type="text" class="form-control" id="W1__al" />
        </div>
        <div class="col-md-6">
            <labl>Witness 2</labl>
            <input type="text" class="form-control" id="W2__al" />
        </div>
   

</div>

<script>
    $(function () {
        $('.modal-footer').append('<button class="btn btn-primary all-let-ref-update" id="" type="button">Update</button>');
    });
</script>
