@{ if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}


<div class="col-md-12 pt-md-3 bgc-white">
    <div class="panel-heading central-text-align">
        <h5> Queue </h5>
    </div>

    <div class="col-md-12 kiosk-wait-queue">
        @{ Html.RenderAction("KioskAllottedFiles", "Balloting");}
    </div>
</div>