@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div class="row gap-20   pos-r">
    <div class=" col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Assign Role to User</h6>
            <div class="mT-30">
                @using (Html.BeginForm("AssignRoles", "RolesAndResponsibilities", FormMethod.Post, new { @id = "a-r", @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Role</label>
                            @Html.DropDownList("Roles", null, "Select Role", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">User</label>
                            @Html.DropDownList("Users", null, "Select User", new { @class = "form-control" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Assign</button>
                }
            </div>
        </div>
    </div>
    <div class="  col-md-6 ">
        <h5 id="userName"></h5>
        <div class="rolesuser">

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#Roles').select2();
        $('#Users').select2();
        $(document).on("change", "#Users", function () {
            var uid = $('#Users option:selected').attr("Value");
            $('#userName').text('Roles Already Assigned To ' + $('#Users option:selected').text());
            $('.rolesuser').load('/RolesAndResponsibilities/UserRolesManage/', { Id: uid });
        });
    });
</script>