@model IEnumerable<MeherEstateDevelopers.Models.Prj_Attendees>
<div class="col-md-12" style="max-height: 430px;min-height: 400px; overflow-y: scroll;">
    <div class="form-group col-md-6">
        <h3>Departments </h3>
    </div>
    <div class="form-group col-md-6">
        <p class="pointer add-prj-attend" data-toggle="modal" data-target="#Modal"><i class="fas fa-plus-circle " ></i> &nbsp;&nbsp; Add Attendee</p>
    </div>
    @{
        int count = 1;
    }
    @foreach (var g in Model.GroupBy(x => x.Dep_Name))
    {
        <div class="col-md-12" >
            <h6>@g.Key</h6>
            @foreach (var item in g)
            {
                <p class="at-di">@count: @item.Name &nbsp;&nbsp;&nbsp;&nbsp; <i class="ti-trash del-prj-at" id="@item.Id"></i></p>
                count++;
            }
        </div>
    }
</div>
<style>
    .del-prj-at {
        display: none;
    }

    .at-di:hover .del-prj-at {
        display: inline-block
    }
</style>