@model dynamic
<script>
    $(function () {
        setupFileUpload(@ViewBag.ThumbSize,@ViewBag.Prj_Id);
    });
</script>
<div class="col-md-12">
    <form id="fileupload_@ViewBag.Prj_Id" method="POST" data-url="@Url.Action("Upload", "ConstructProjectManagement" ,new{Prj_Id = ViewBag.Prj_Id})" enctype="multipart/form-data" class="py-0 my-0">
        <div class=" fileupload-buttonbar pb-0 pt-2 my-0">
            <div>
                <span class="btn btn-success fileinput-button">
                    <i class="fa fa-plus"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple id="fileInput">
                </span>
                <button type="submit" class="btn btn-primary start" id="startUploadFiles">
                    <i class="fa fa-arrow-circle-o-up"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel" id="notShownCancel">
                    <i class="fa fa-ban"></i>
                    <span>Cancel upload</span>
                </button>

                <!-- The global file processing state
                     <button type="button" class="btn btn-danger delete" id="notShownDelete">
                    <i class="fa fa-trash"></i>
                    <span>Delete</span>
                </button>
                    -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="fileupload-progress mt-0">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="height: 20px !important; background-color:white !important ">
                    <div class="progress-bar progress-bar-success" style="width:0;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <div id="wrapper">
            <div id="fileDropBox">Drop files here.</div>
            @*<script src="utilities.js" type="text/javascript"></script>*@
            <!-- Provides the alert() method. -->
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table" style="width:100% !important; max-width:100% !important"><tbody class="files"></tbody></table>
    </form>
</div>

<br>



<script id="template-upload_@ViewBag.Prj_Id" type="text/x-tmpl">

    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <p class="size">Processing...</p>

            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;height:20px !important"></div></div>

        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" style="display: none" disabled>
                <i class="fa fa-arrow-circle-o-up"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <i class="fa fa-times cancel" style="margin-left:0%;"></i>
            {% } %}
        </td>


    </tr>


    {% } %}

</script>

<!-- The template to display files available for download -->

<script id="template-download_@ViewBag.Prj_Id" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                <br />
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <a class="btn new-ver" href="javascript:void(0)" data-toggle="modal" data-target="#Modal" data-url="{%=file.path%}" data-fname="{%=file.name%}"><i class="fas fa-code-branch"></i> </a>
            <button class="btn"><a class="fas fa-file-download" href="{%=file.downUrl%}"></a></button>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="fa fa-trash"></i>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}



</script>


<style>
    tr {
        height: 100px !important;
    }

    .jumbotron {
        background: white !important;
    }




    .progress {
        height: 15px
    }

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        border-radius: 8px;
        font-size: 14px;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 400px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    #wrapper {
        width: 700px;
        margin: 0 auto;
        margin-top: 0px;
    }

    #fileDropBox {
        margin-left: 0px;
        width: 20em;
        line-height: 10em;
        border: 5px dashed gray;
        text-align: center;
        color: gray;
        border-radius: 7px;
        width: 100%;
        font-size: 20pt;
    }
</style>


<script>
    $(document).ready(function () {
        setInterval(function () {
            var rowCount = $(".table > tbody > tr.template-upload").length;
            if (rowCount > 0 && $(".table > tbody > tr.template-download").length <= 0) {
                $("#wrapper").hide();
                $("#startUploadFiles").show();
                $("#notShownCancel").show();
            }
            else if ($(".table > tbody > tr.template-download").length > 0 && rowCount <= 0) {
                $("#wrapper").hide();
                $("#startUploadFiles").hide();
                $("#notShownCancel").hide();
            } else if ($(".table > tbody > tr.template-download").length > 0 && rowCount > 0) {
                $("#wrapper").hide();
                $("#startUploadFiles").show();
                $("#notShownCancel").show();
            } else if (rowCount <= 0 && $(".table > tbody > tr.template-download").length <= 0) {
                $("#wrapper").show();
                $("#startUploadFiles").hide();
                $("#notShownCancel").hide();
            }
        }, 3);
    });
</script>