
    <div class="row">
        <div class="form-group col-md-2">
            <label>Type</label>
            <select class="form-control cst-typ-inf-slcx" id="type" name="Type">
                <option value="0">SAG Customer</option>
                <option value="1">Outsider</option>
            </select>
        </div>

        <div class="form-group col-md-2 prefilled-inf-flds">
            <label>Block</label>
            @Html.DropDownList("Block", null, "Choose..", new { @class = "form-control", required = "" })
        </div>
        <div class="form-group col-md-4 prefilled-inf-flds">
            <label>Plots</label>
            <select class="form-control plts-slcxn">

            </select>
        </div>

        <div class="form-group col-md-2 man-fld" style="display:none">
            <label>Block</label>
            <input type="text" class="form-control BlockName" />
        </div>

        <div class="form-group col-md-2 man-fld" style="display:none">
            <label>Plot No</label>
            <input type="text" class="form-control PlotNum" />
        </div>

        <div class="form-group col-md-2">
            <label>Plot Size</label>
            <input type="text" class="form-control plt-size-afsjkhd" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <h5 id="buy-sel">Cusomter Information</h5>
        </div>
        <div class="form-group col-md-3">
            <label>Name</label>
            <input class="form-control text-box single-line" id="Name" name="Name" required="" type="text" value="">
        </div>
        <div class="form-group col-md-3">
            <label>Father Name</label>
            <input class="form-control text-box single-line" id="FName" name="FName" required="" type="text" value="">
        </div>
        <div class="form-group col-md-3">
            <label>Mobile</label>
            <input class="form-control text-box single-line" pattern="^0\d{10}" placeholder="03211234567" id="Mobile" name="Mobile" required="" type="text" value="">
        </div>
        <div class="form-group col-md-3">
            <label>CNIC</label>
            <input class="form-control text-box single-line" id="cnic" name="cnic" type="text" value="">
        </div>
        <div class="form-group col-md-3">
            <label>Address</label>
            <input class="form-control text-box single-line" id="Address" name="Address" type="text" value="">
        </div>

    </div>

<div class="row">
</div>
<script>
    $(function () {
        $(".modal-header").text("Add Customer");
        $('.modal-footer').append('<button class="btn btn-primary sv-cust-btn-archi">Save Customer</button>')
        $('.led-plot-det').select2({
            dropdownParent: $('#Modal')
        });
    });
</script>
<style>
</style>


<script>
    $(document).ready(function () {
        $('.sv-cust-btn-archi').unbind().click(function () {

            if (!confirm('Are you sure you want to save this customer?')) {
                return;
            }

            let nm = $('#Name').val();
            let fnm = $('#FName').val();
            let contact = $('#Mobile').val();
            let cnic = $('#cnic').val();
            let addr = $('#Address').val();

            if ($('.cst-typ-inf-slcx option:selected').val() == 0) {

                let pltNo = $('.plts-slcxn option:selected').text();
                let pltSz = $('.plt-size-afsjkhd').val();
                let Blk = $('#Block option:selected').text();

                //For pushing code to the server
                $.ajax({
                    type: "POST",
                    url: '/Receipts/SaveNewCustomer/',
                    data: { CustomerName: nm, CustomerFatherName: fnm, CustomerContact: contact, CustomerCNIC: cnic, CustomerAddress: addr, PlotNo: pltNo, PlotSize: pltSz, Block: Blk },
                    success: function (data) {
                        if (data) {
                            alert("Customer has been added.");
                            closeModal();
                        }
                        else {
                            alert('Failed to add the customer at the moment. Please try again.');
                        }
                    }
                    , error: function (xmlhttprequest, textstatus, message) {
                        if (textstatus === "timeout") {
                            alert("got timeout");
                        } else {
                            alert(textstatus);
                        }
                    }
                });
            }
            else {
                let pltNo = $('.PlotNum').val();
                let pltSz = $('.plt-size-afsjkhd').val();
                let Blk = $('.BlockName').val();

                //For pushing code to the server
                $.ajax({
                    type: "POST",
                    url: '/Receipts/SaveNewCustomer/',
                    data: { CustomerName: nm, CustomerFatherName: fnm, CustomerContact: contact, CustomerCNIC: cnic, CustomerAddress: addr, PlotNo: pltNo, PlotSize: pltSz, Block: Blk },
                    success: function (data) {
                        if (data) {
                            alert("Customer has been added.");
                            closeModal();
                        }
                        else {
                            alert('Failed to add the customer at the moment. Please try again.');
                        }
                    }
                    , error: function (xmlhttprequest, textstatus, message) {
                        if (textstatus === "timeout") {
                            alert("got timeout");
                        } else {
                            alert(textstatus);
                        }
                    }
                });
            }
        });

        $('.cst-typ-inf-slcx').unbind().change(function (e) {
            if ($(this).val() == 0) {
                $('.man-fld').hide();
                $('.prefilled-inf-flds').show();
            }
            else {
                $('.man-fld').show();
                $('.prefilled-inf-flds').hide();
            }
        });

        $('.plts-slcxn').select2({
            dropdownParent: $('#Modal'),
            ajax: {
                url: '/Plots/PlotsByBlockId_Select/',
                data: function (params) {
                    var query = {
                        s: params.term,
                        block: $('#Block option:selected').val(),
                        type: 'public'
                    }

                    // Query parameters will be ?search=[term]&type=public
                    return query;
                },
                processResults: function (data) {
                    // Transforms the top-level key of the response object from 'items' to 'results'
                    return {
                        results: data
                    };
                }
            }
        });

        $('.plts-slcxn').unbind().change(function () {
            let plt = $(this).val();
            $.ajax({
                type: "POST",
                url: '/Plots/GetPlotLastOwnerData/',
                data: { pltId: plt },
                success: function (data) {
                    if (data) {
                        $('.plt-size-afsjkhd').val(data.Size);
                        $('#Name').val(data.Name);
                        $('#FName').val(data.FatherName);
                        $('#Mobile').val(data.Contact);
                        $('#cnic').val(data.CNIC);
                        $('#Address').val(data.Address);
                    }
                    else {
                        alert('Failed to fetch plot details at the moment. Please try again.');
                    }
                }
                , error: function (xmlhttprequest, textstatus, message) {
                    if (textstatus === "timeout") {
                        alert("internet timeout");
                    } else {
                        alert(textstatus);
                    }
                }
            });
        });
    });
</script>