<style>
    .info-blocks > li{
        min-width:0px !important;
        margin:0px !important;
    }
</style>
<div class="row">
    <ul class="info-blocks">
        @{
            if (ViewBag.Dash == "dealer")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Dealership/DealerFormAssociation">
                            <img src="~/assets/static/images/Tileicons/gen-fil.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Dealership/AddDealer">
                            <img src="~/assets/static/images/Tileicons/ad-delsh.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Dealership/AllDealerships">
                            <img src="~/assets/static/images/Tileicons/delsh-det.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                @*<hr />
                <li class="bg-info">
                    <div class="top-info">
                        <a href="javascript:void(0);" class="get-link text-white" data-link="/Dealership/Deal/">Add Deal</a>
                    </div>
                </li>
                <li class="bg-info">
                    <div class="top-info">
                        <a href="javascript:void(0);" class="get-link text-white" data-link="/Dealership/DealList/">Deals List</a>
                    </div>
                </li>*@

            }
            else if (ViewBag.Dash == "cash counter")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Installments/ReceiveInstallments">
                            <img src="~/assets/static/images/Tileicons/rec-inst.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/RegisterFile">
                            <img src="~/assets/static/images/Tileicons/file-reg.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ServiceCharges/ElectricityBillPayment">
                            <img src="~/assets/static/images/Tileicons/elc-ch-rec.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Installments/ReceivePlotInstallments">
                            <img src="~/assets/static/images/Tileicons/Plt-ins.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/FileTransfer">
                            <img src="~/assets/static/images/Tileicons/fil-trs.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Finance/AllCancelRequests">
                            <img src="~/assets/static/images/Tileicons/rec-can-req.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/PlotOwnership">
                            <img src="~/assets/static/images/Tileicons/plt-reg.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Transfer/PlotTransfer">
                            <img src="~/assets/static/images/Tileicons/plt-trs.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ServiceCharges/ServiceChargesBillPayment">
                            <img src="~/assets/static/images/Tileicons/sc-rec.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ServiceCharges/NewConnection">
                            <img src="~/assets/static/images/Tileicons/new-con.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ServiceCharges/FineCollection">
                            <img src="~/assets/static/images/Tileicons/oth-rec.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Leads/LeadsPayments">
                            <img src="~/assets/static/images/Tileicons/led-rec.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Vouchers/VoucherRequest">
                            <img src="~/assets/static/images/Tileicons/le-vou.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Dealership/Receipt">
                            <img src="~/assets/static/images/Tileicons/de-rece.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Dealership/DealFiles">
                            <img src="~/assets/static/images/Tileicons/de-lst-fil.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/PropertyDeal/PaymentsRequest">
                            <img src="~/assets/static/images/Tileicons/pd-pay.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "file management")
            {
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/FileInformation">
                            <img src="~/assets/static/images/Tileicons/fil-info.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/UpdateInformation">
                            <img src="~/assets/static/images/Tileicons/up-fil-info.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/OverDueFiles">
                            <img src="~/assets/static/images/Tileicons/ov-fil.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/CancellationReqs">
                            <img src="~/assets/static/images/Tileicons/fil-can-req.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "plot management")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Plots/PlotInformation">
                            <img src="~/assets/static/images/Tileicons/plt-info.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/UpdatePlotInformation">
                            <img src="~/assets/static/images/Tileicons/plt-up-info.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/NewAllotmentLetters">
                            <img src="~/assets/static/images/Tileicons/ne-all-let.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/AllotmentLettersList">
                            <img src="~/assets/static/images/Tileicons/all-list.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Transfer/PlotTransferRequestList">
                            <img src="~/assets/static/images/Tileicons/plt-trs-req.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/AllotmentTrackingViews">
                            <img src="~/assets/static/images/Tileicons/all-trac.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/CancellationReqs">
                            <img src="~/assets/static/images/Tileicons/plt-can-req.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/ExtraAmountRefund">
                            <img src="~/assets/static/images/Tileicons/rec-ref-req.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/OverDuePlots">
                            <img src="~/assets/static/images/Tileicons/ov-plt.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "file delivery")
            {
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/FileDelivery">
                            <img src="~/assets/static/images/Tileicons/fil-del.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/TransferRequestList">
                            <img src="~/assets/static/images/Tileicons/fil-trs-reqs.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "prj management")
            {

                <li>
                    <div style="width:160px">
                        <a href="/ConstructProjectManagement/ProjectsList">
                            <img src="~/assets/static/images/Tileicons/prj.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "tickets")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Tickets/AllTickets">
                            <img src="~/assets/static/images/Tileicons/al-tick.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Tickets/ReceptionTicketing">
                            <img src="~/assets/static/images/Tileicons/rec-tick.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Tickets/MyTickets">
                            <img src="~/assets/static/images/Tileicons/my-tick.png" style="width:100%" />
                        </a>
                    </div>
                </li>

            }
            else if (ViewBag.Dash == "transfer requests")
            {
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/TransferRequest">
                            <img src="~/assets/static/images/Tileicons/fil-trs-req.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Transfer/PlotTransferRequest">
                            <img src="~/assets/static/images/Tileicons/plt-trs-reqs.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "accounts")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Banking/AllBankPayments">
                            <img src="~/assets/static/images/Tileicons/all-ins.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Reports/RecoveryReport">
                            <img src="~/assets/static/images/Tileicons/al-rec-rep.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Finance/UpdateRequests">
                            <img src="~/assets/static/images/Tileicons/rece-up.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Banking/LeadAllBankPayments?Company=SAM">
                            <img src="~/assets/static/images/Tileicons/sam-inst.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Banking/LeadAllBankPayments?Company=SPE">
                            <img src="~/assets/static/images/Tileicons/spe-inst.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <hr />
                <li>
                    <div style="width:160px">
                        <a href="/AccountHeads/AccountHeadList">
                            <img src="~/assets/static/images/Tileicons/ch-of-acc.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/AccountHeads/TrailBalance">
                            <img src="~/assets/static/images/Tileicons/trl-bal.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <hr />
                <li>
                    <div style="width:160px">
                        <a href="/GeneralEntry/GeneralEntry">
                            <img src="~/assets/static/images/Tileicons/gen-ent.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/GeneralEntry/PendingEntries">
                            <img src="~/assets/static/images/Tileicons/pen-vouc.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/GeneralEntry/PayableVouchers">
                            <img src="~/assets/static/images/Tileicons/pay-vouc.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "audit")
            {
                <li>
                    <div style="width:160px">
                        <a href="/FileSystem/FileVerification">
                            <img src="~/assets/static/images/Tileicons/fil-ver.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/ReqVerificationList">
                            <img src="~/assets/static/images/Tileicons/plt-ver-lst.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Plots/AllotmentRequest">
                            <img src="~/assets/static/images/Tileicons/all-reqs.png" style="width:100%" />
                        </a>
                    </div>
                </li>

            }
            else if (ViewBag.Dash == "service charges")
            {
                <li>
                    <div style="width:160px">
                        <a href="/ServiceCharges/NewMeterReading">
                            <img src="~/assets/static/images/Tileicons/ad-me-rea.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ServiceCharges/Bills">
                            <img src="~/assets/static/images/Tileicons/sc-det.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ServiceCharges/ElectricityBill">
                            <img src="~/assets/static/images/Tileicons/elc-ch-det.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ServiceCharges/ManageServiceCharges">
                            <img src="~/assets/static/images/Tileicons/man-sc.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }

            else if (ViewBag.Dash == "hr")
            {
                <h4>Company Structure</h4>

                <li>
                    <div style="width:160px">
                        <a href="/Company/AddCompany">
                            <img src="~/assets/static/images/Tileicons/ad-com.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Company/AddDepartments">
                            <img src="~/assets/static/images/Tileicons/ad-dep.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Company/UpdateParentCompany">
                            <img src="~/assets/static/images/Tileicons/hie-ch.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Company/UpdateCompanyDepartmentDesignation">
                            <img src="~/assets/static/images/Tileicons/up-com-dep.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <hr />
                <h4>Employees</h4>
                <li>
                    <div style="width:160px">
                        <a href="/HumanResource/EmployeeListing">
                            <img src="~/assets/static/images/Tileicons/emp-lst.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/HumanResource/AddEmployee">
                            <img src="~/assets/static/images/Tileicons/add-emp.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/HumanResource/Organogram">
                            <img src="~/assets/static/images/Tileicons/org-chart.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <hr />
                <h4>Salaries</h4>
                <li>
                    <div style="width:160px">
                        <a href="/Salaries/Step1">
                            <img src="~/assets/static/images/Tileicons/sal-lst.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Salaries/Step2">
                            <img src="~/assets/static/images/Tileicons/hr-sal-ap.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Salaries/Step3">
                            <img src="~/assets/static/images/Tileicons/fin-sal-ap.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Salaries/Step4">
                            <img src="~/assets/static/images/Tileicons/sal-dis.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Salaries/SalaryList">
                            <img src="~/assets/static/images/Tileicons/src-sal.png" style="width:100%" />
                        </a>
                    </div>
                </li>

                <hr />
                <h4>Arrears</h4>
                <li>
                    <div style="width:160px">
                        <a href="/ArrearsSalaries/SalaryIndex">
                            <img src="~/assets/static/images/Tileicons/gen-ar.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ArrearsSalaries/AllSalaries">
                            <img src="~/assets/static/images/Tileicons/man-ar.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ArrearsSalaries/InProcessSalariesSlip">
                            <img src="~/assets/static/images/Tileicons/hr-ar-ap.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ArrearsSalaries/FinanceApproved">
                            <img src="~/assets/static/images/Tileicons/fin-ar-ap.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/ArrearsSalaries/DistrbutorAndGenerate">
                            <img src="~/assets/static/images/Tileicons/ar-dis.png" style="width:100%" />
                        </a>
                    </div>
                </li>

                <hr />
                <h4>Leaves</h4>
                <li>
                    <div style="width:160px">
                        <a href="/Leave/UserLeaves">
                            <img src="~/assets/static/images/Tileicons/levs.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <hr />
                <h4>Loan & Advance Sallary</h4>
                <li>
                    <div style="width:160px">
                        <a href="/Loan/Index">
                            <img src="~/assets/static/images/Tileicons/la-ad.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Loan/BalanceDetail">
                            <img src="~/assets/static/images/Tileicons/la-app.png" style="width:100%" />
                        </a>
                    </div>
                </li>

            }
            else if (ViewBag.Dash == "call center")
            {
                <li>
                    <div style="width:160px">
                        <a href="/CallCenter/OverdueInstallments">
                            <img src="~/assets/static/images/Tileicons/cal-cen.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "asset")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Company/AddAsset">
                            <img src="~/assets/static/images/Tileicons/as-det.png" style="width:100%" />
                        </a>
                    </div>
                </li>


                @*<li class="bg-primary text-white">
                    <div class="top-info">
                        <a href="javascript:void(0);" class="get-link text-white" data-link="/Company/AssetLogsList/">Assets Log List</a>
                    </div>
                </li>*@

            }
            else if (ViewBag.Dash == "vehical")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Company/AddVehical">
                            <img src="~/assets/static/images/Tileicons/veh-det.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Company/FuelDetails">
                            <img src="~/assets/static/images/Tileicons/fu-det.png" style="width:100%" />
                        </a>
                    </div>
                </li>

                @*<li class="bg-primary text-white">
                    <div class="top-info">
                        <a href="javascript:void(0);" class="get-link text-white" data-link="/Company/AssetLogsList/">Assets Log List</a>
                    </div>
                </li>*@

            }
            else if (ViewBag.Dash == "sa marketing")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Reports/SAMRecoveryReport">
                            <img src="~/assets/static/images/Tileicons/rec-repo.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Leads/SAMLead">
                            <img src="~/assets/static/images/Tileicons/al-led.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/Reports/LeadsReports">
                            <img src="~/assets/static/images/Tileicons/led-rep.png" style="width:100%" />
                        </a>
                    </div>
                </li>
                <li>
                    <div style="width:160px">
                        <a href="/PropertyDeal/AllDeales">
                            <img src="~/assets/static/images/Tileicons/pd-all.png" style="width:100%" />
                        </a>
                    </div>
                </li>


            }
            else if (ViewBag.Dash == "reports")
            {
                <li>
                    <div style="width:160px">
                        <a href="/Reports/Index">
                            <img src="~/assets/static/images/Tileicons/rep.png" style="width:100%" />
                        </a>
                    </div>
                </li>
            }
            else if (ViewBag.Dash == "Admin Facilities")
            {
                <li class="bg-success">
                    <div class="top-info">
                        <a href="javascript:void(0);" class="get-link text-white" data-link="/AdminFacilities/Project/">Projects</a>
                    </div>
                </li>
                <li class="bg-success">
                    <div class="top-info">
                        <a href="javascript:void(0);" class="get-link text-white" data-link="/AdminFacilities/Registration/">Member Registration</a>
                    </div>
                </li>
                <li class="bg-info">
                    <div class="top-info">
                        <a href="javascript:void(0);" class="get-link text-white" data-link="/AdminFacilities/Detail/">Fee</a>
                    </div>
                </li>
                <li class="bg-info">
                    <div class="top-info">
                        <a href="javascript:void(0);" class="get-link text-white" data-link="/AdminFacilities/MemberListingproject/">All Member</a>
                    </div>
                </li>
            }
        }
    </ul>
</div>
<style>
    .a {
        color: #592a88;
    }
</style>