@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

<div class="row gap-20 pos-r">
    <div class="col-md-12">
        <div class="bgc-white p-20 bd">

            <div class="mT-30">
                <div class="form-row row">
                    <div class="col-md-9">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>File Form No.</label>
                                <input type="text" class="form-control" id="app-num" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" class="btn btn-primary my-4 get-f-res-ver-par">Search File</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row row" id="file-data"></div>
            </div>
        </div>
    </div>
</div>