@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20" style="text-align:center">Overdue Files</h4>
            <div id="overdue-rep">
            </div>
            <ul class="nav nav-tabs" id="myTabs">
                @{ string activeclass = "active";}
                <li class="nav-item"><a class="nav-link @activeclass" data-toggle="tab" role="tab" data-link="/FileSystem/QualifyingFiles" href="#over">Qualifying Files</a></li>
                @{ activeclass = ""; }
                <li class="nav-item"><a class="nav-link @activeclass" data-toggle="tab" role="tab" data-link="/FileSystem/FirstWarning" href="#over">1st Warning</a></li>
                @{ activeclass = ""; }
                <li class="nav-item"><a class="nav-link @activeclass" data-toggle="tab" role="tab" data-link="/FileSystem/SecWarning" href="#over">2nd Warning</a></li>
                @{ activeclass = ""; }
                <li class="nav-item"><a class="nav-link @activeclass" data-toggle="tab" role="tab" data-link="/FileSystem/CancelledFiles" href="#over">Cancelled Notice</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="over" class="tab-pane active bd bdrs-3 p-20">
                    @*@{ Html.RenderAction("QualifyingFiles", "FileSystem", new MeherEstateDevelopers.Models.Search_OverDue { Installments = null, S_Inst_Range = null, E_Inst_Range = null, Plot_Size = null, Dealer_Id = null, Range = null, S_Range = null, E_Range = null, G_Amt = null, L_Amt = null });}*@
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table tr th, table tr td {
        padding: 5px !important;
        font-size: 12px;
    }
</style>
<script>
    $(function () {
        $('#over').load('/FileSystem/QualifyingFiles/')
    });






    // Second warning to File owner
    $(document).on("change", ".Qualify-war-com-File", function () {
        debugger
        var id = $(this).data("id");
        var ownid = $(this).data("ownid");
        var type = $(this).val();
        if (type == null || type == '') {
            alert('Select type');
            return false;
        }
        var con = confirm("Are you sure you want to Move this Letter");
        if (con) {
            $.ajax({
                type: "POST",
                url: '/FileSystem/WarningIssuesFileMove/',
                data: { Id: id, OwnerId: ownid, Type: type },
                success: function (data) {
                    $('#over').load('/FileSystem/QualifyingFiles/');
                    return false;
                },
                error: function () {
                    alert("Error Occured");
                }
            });
        }
    });




    // Second warning to File owner
    $(document).on("change", ".first-war-com-file", function () {
        debugger
        var id = $(this).data("id");
        var ownid = $(this).data("ownid");
        var type = $(this).val();
        if (type == null || type == '') {
            alert('Select type');
            return false;
        }
        var con = confirm("Are you sure you want to Move this Letter");
        if (con) {
            $.ajax({
                type: "POST",
                url: '/FileSystem/WarningIssuesFileMove/',
                data: { Id: id, OwnerId: ownid, Type: type },
                success: function (data) {
                    $('#over').load('/FileSystem/FirstWarning/');
                    return false;
                },
                error: function () {
                    alert("Error Occured");
                }
            });
        }
    });



    // Second warning to File owner
    $(document).on("change", ".sec-war-com-file", function () {
        debugger
        var id = $(this).data("id");
        var ownid = $(this).data("ownid");
        var type = $(this).val();
        if (type == null || type == '') {
            alert('Select type');
            return false;
        }
        var con = confirm("Are you sure you want to Move this Letter");
        if (con) {
            $.ajax({
                type: "POST",
                url: '/FileSystem/WarningIssuesFileMove/',
                data: { Id: id, OwnerId: ownid, Type: type },
                success: function (data) {
                    $('#over').load('/FileSystem/SecWarning/');
                    return false;
                },
                error: function () {
                    alert("Error Occured");
                }
            });
        }
    });


    $(document).on("change", ".cancel-war-com-file", function () {
        debugger
        var id = $(this).data("id");
        var ownid = $(this).data("ownid");
        var type = $(this).val();
        if (type == null || type == '') {
            alert('Select type');
            return false;
        }
        var con = confirm("Are you sure you want to Move this Letter");
        if (con) {
            $.ajax({
                type: "POST",
                url: '/FileSystem/WarningIssuesFileMove/',
                data: { Id: id, OwnerId: ownid, Type: type },
                success: function (data) {
                    $('#over').load('/FileSystem/CancelledFiles/');
                    return false;
                },
                error: function () {
                    alert("Error Occured");
                }
            });
        }
    });

</script>
@if (User.IsInRole("Files Overdue Report") || User.IsInRole("Administrator"))
{
    <script>
        $('#overdue-rep').load('/FileSystem/OverDueFilesReport/')
    </script>
}
