@model IEnumerable<MeherEstateDevelopers.Models.Dealership>

@{ Layout = "~/Views/Shared/_StaffLayout.cshtml"; }
<div class="row gap-20 pos-r">
    <datalist id="dealerships">
        @foreach (var item in Model)
        {
            <option id="@item.Id" value="@item.Dealership_Name"></option>
        }
    </datalist>
    <div class="col-md-8">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Application File Form</h6>
            <div class="mT-30">
                <div class="form-row row">
                    <div class="col-md-9">
                        <div class="form-row" id="file-trans-alert"></div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>File Form No.</label>
                                <input type="text" class="form-control" id="app-num">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Dealership</label>
                                <input type="text" class="form-control" id="deal-nam" readonly>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Plot Size</label>
                                <input type="text" class="form-control" id="pl-size" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Project</label>
                                <input type="text" class="form-control" id="prj" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Phase</label>
                                <input type="text" class="form-control" id="phs" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Block</label>
                                <input type="text" class="form-control" id="blk" readonly>
                            </div>
                            <div class="form-group col-md-2">
                                <button type="button" class="btn btn-primary" style="margin-top:29px" id="sea-file-data-trans-req-new">Search File</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <h5>File Status : &nbsp;<span id="status">-</span></h5>
                            </div>
                            <div class="col-md-5">
                                <h3 id="dev-char"></h3>
                            </div>
                            <div class="col-md-4">
                                <h5>Balance : &nbsp;<span id="bal-amt">-</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src="~/assets/static/images/no-img.png" width="200" height="200" id="qr_img" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="col-md-4">
                    <h6 class="c-grey-900">Personal Information</h6>
                </div>
            </div>
            <div class="mT-30">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Name</label>
                        <input type="text" class="form-control" id="Name" readonly>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Father's/Husband's Name</label>
                        <input type="text" class="form-control" id="Father_Husband" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Postal Address</label>
                        <input type="text" class="form-control" id="Postal_Address" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Residential Address</label>
                        <input type="text" class="form-control" id="Residential_Address" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>City</label>
                        <input type="text" class="form-control" id="City" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Date Of Birth</label>
                        <input type="text" placeholder="mm/dd/yyyy" class="form-control" id="Date_Of_Birth" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>CNIC / NICOP</label>
                        <input type="text" class="form-control" id="CNIC_NICOP" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Occupation</label>
                        <input type="text" class="form-control" id="Occupation" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Nationality</label>
                        <input type="text" class="form-control" id="Nationality" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Email</label>
                        <input type="text" class="form-control" id="Email" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Phone Office</label>
                        <input type="text" class="form-control" id="Phone_Office" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Residential</label>
                        <input type="text" class="form-control" id="Residential" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Mobile 1</label>
                        <input type="text" class="form-control" id="Mobile_1" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Mobile 2</label>
                        <input type="text" class="form-control" id="Mobile_2" readonly>
                    </div>
                </div>
            </div>
            <hr />
            <h6 class="c-grey-900">Nominee</h6>
            <div class="mT-30">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label>Name</label>
                        <input type="text" class="form-control" id="Nominee_Name" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>CNIC / NICOP</label>
                        <input type="text" class="form-control" id="Nominee_CNIC_NICOP" readonly>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Relation</label>
                        <input class="form-control" id="Nominee_Relation" readonly>
                    </div>
                    <div class="form-group col-md-5">
                        <label>Address</label>
                        <input type="text" class="form-control" id="Nominee_Address" readonly>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-row">
                <div class="col-md-6">
                    <h6 class="c-grey-900">Installments </h6>
                </div>
                <div class="col-md-6">
                    <h5> Over Due Amount : <span id="ov-du-amt"></span></h5>
                </div>
            </div>
            <div class="mT-30">
                <div class="form-row">
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="margin-bottom:0px">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Sr.</th>
                                </tr>
                            </thead>
                        </table>
                        <div style="min-height:0px; max-height:500px;overflow:auto" class=" ps--active-y">
                            <table class="table table-striped table-bordered" id="all-instments" cellspacing="0" width="100%">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="min-height:0px; max-height:500px;overflow:auto" class=" ps--active-y">
                            <table class="table table-striped table-bordered" id="oth-inst" cellspacing="0" width="100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Sr.</th>
                                        <th>Installment Name</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div style="min-height:0px; max-height:500px;overflow:auto" class=" ps--active-y">
                            <table class="table table-striped table-bordered" id="rec-amts" cellspacing="0" width="100%">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Receipt No.</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Type</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="bgc-white p-20 bd">
            <div class="new-owns-area">
                <div class="mT-30">
                    <div class="form-row">
                        <h5>Transfer To:</h5>
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="checkbox" class="isCompanyProperty">&nbsp;Company Property
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-md-1">
                                    <i class="fa fa-plus pointer add-new-own" title="Add another owner" style="color:limegreen"></i>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Party Dealership</label>
                                    <input type="text" class="form-control Party_Dealership" list="dealerships" name="PartyDealership" required>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="transfer-fees" name="Amount">
                        <input type="hidden" id="file-id" name="File_Form_Id">
                        <input type="hidden" id="file-rate" name="Rate">
                        <input type="hidden" id="ttl-amt" name="Total">
                        <input type="hidden" id="grd-ttl" name="GrandTotal">
                        <input type="hidden" id="blk-id" name="Block_Id">
                        <input type="hidden" id="ph-id" name="Phase_Id">
                        <input type="hidden" id="plt-size" name="Plot_Size">
                        <input type="hidden" id="plt-pref" name="Plot_Prefrence">
                        <input type="hidden" id="qr_Id" name="QR_Code">
                        <input type="hidden" id="amt-in-words" name="AmountInWords">
                        <input type="hidden" id="fp-num" name="File_Plot_Number">
                        <input type="hidden" id="prj-nam" name="Project_Name">
                        <input type="hidden" id="trans_Id" value="@ViewBag.serial" name="TransactionId">
                    </div>
                    <div class="form-row sel-inf-dfshjgk-file">
                        <div class="col-md-12 form-group comp-prop-fld" style="display:none;">
                            <label>Company Name</label>
                            <input type="text" class="form-control comp-Name" required>
                        </div>
                        <div class="form-group col-md-6 deflt-fld">
                            <label>Name</label>
                            <input type="text" class="form-control Name" name="Name" required>
                        </div>
                        <div class="form-group col-md-6 deflt-fld">
                            <label>Father's/Husband's Name</label>
                            <input type="text" class="form-control Father_Husband" name="Father_Husband" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Postal Address</label>
                            <input type="text" class="form-control Postal_Address" name="Postal_Address" placeholder="1234 Main St" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Residential Address</label>
                            <input type="text" class="form-control Residential_Address" name="Residential_Address" placeholder="Apartment, Plot, or floor" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label>City</label>
                            @Html.DropDownList("City", null, "Choose..", new { @class = "form-control", required = "" })
                        </div>
                        <div class="form-group col-md-4 deflt-fld">
                            <label>Date Of Birth</label>
                            <input type="text" class="form-control Date_Of_Birth" placeholder="mm/dd/yyyy" data-provide="datepicker" name="Date_Of_Birth" required>
                        </div>
                        <div class="form-group col-md-4 comp-prop-fld" style="display:none;">
                            <label>Date Of Incorp.</label>
                            <input type="text" class="form-control comp-Date_Of_Birth autfil-dob" placeholder="mm/dd/yyyy" data-provide="datepicker" required>
                        </div>
                        <div class="form-group col-md-5 deflt-fld">
                            <label>CNIC / NICOP</label>
                            <input type="text" class="form-control CNIC_NICOP" name="CNIC_NICOP" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" required>
                        </div>
                        <div class="form-group col-md-5 comp-prop-fld" style="display:none;">
                            <label>NTN</label>
                            <input type="text" class="form-control comp-CNIC_NICOP autfil-cnic" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Occupation</label>
                            <input type="text" class="form-control Occupation" name="Occupation" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Nationality</label>
                            <input type="text" class="form-control Nationality" name="Nationality" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Email</label>
                            <input type="text" class="form-control Email" name="Email">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Phone Office</label>
                            <input type="text" class="form-control Phone_Office" name="Phone_Office">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Residential</label>
                            <input type="text" class="form-control Residential" name="Residential">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Mobile 1</label>
                            <input type="text" class="form-control Mobile_1" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Mobile 2</label>
                            <input type="text" class="form-control Mobile_2" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_2">
                        </div>

                        <hr />
                        <h6 class="c-grey-900 nomin-heading">Nominee</h6>
                        <div class="mT-40">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Name</label>
                                    <input type="text" class="form-control Nominee_Name" name="Nominee_Name" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>CNIC / NICOP</label>
                                    <input type="text" class="form-control Nominee_CNIC_NICOP" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" name="Nominee_CNIC_NICOP" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Relation</label>
                                    <input class="form-control Nominee_Relation" name="Nominee_Relation" placeholder="" required>
                                </div>
                                <div class="form-group col-md-7">
                                    <label>Address</label>
                                    <input type="text" class="form-control Nominee_Address" name="Nominee_Address" placeholder="1234 Main St" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row" id="trns-btn">

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.add-new-own').unbind().click(function () {
            let cities = $('.sel-inf-dfshjgk-file').first().find('#City').html();
            let strc = `<div class="mT-30 sel-inf-dfshjgk-file">
<div class="form-row">
    <i class="pointer fa fa-trash rmv-own-ajdhksf" title="Remove this owner"></i>
</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <input type="text" class="form-control Name" name="Name" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Father's/Husband's Name</label>
                            <input type="text" class="form-control Father_Husband" name="Father_Husband" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Postal Address</label>
                            <input type="text" class="form-control Postal_Address" name="Postal_Address" placeholder="1234 Main St" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Residential Address</label>
                            <input type="text" class="form-control Residential_Address" name="Residential_Address" placeholder="Apartment, Plot, or floor" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label>City</label>
                            <select class='form-control' id='City'>${cities}</select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Date Of Birth</label>
                            <input type="text" class="form-control Date_Of_Birth" placeholder="mm/dd/yyyy" data-provide="datepicker" name="Date_Of_Birth" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label>CNIC / NICOP</label>
                            <input type="text" class="form-control CNIC_NICOP" name="CNIC_NICOP" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Occupation</label>
                            <input type="text" class="form-control Occupation" name="Occupation" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Nationality</label>
                            <input type="text" class="form-control Nationality" name="Nationality" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Email</label>
                            <input type="text" class="form-control Email" name="Email">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Phone Office</label>
                            <input type="text" class="form-control Phone_Office" name="Phone_Office">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Residential</label>
                            <input type="text" class="form-control Residential" name="Residential">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Mobile 1</label>
                            <input type="text" class="form-control Mobile_1" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Mobile 2</label>
                            <input type="text" class="form-control Mobile_2" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_2">
                        </div>
                    </div>

                    <hr />
                    <h6 class="c-grey-900">Nominee</h6>
                    <div class="mT-40">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Name</label>
                                <input type="text" class="form-control Nominee_Name" name="Nominee_Name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label>CNIC / NICOP</label>
                                <input type="text" class="form-control Nominee_CNIC_NICOP" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" name="Nominee_CNIC_NICOP" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Relation</label>
                                <input class="form-control Nominee_Relation" name="Nominee_Relation" placeholder="" required>
                            </div>
                            <div class="form-group col-md-7">
                                <label>Address</label>
                                <input type="text" class="form-control Nominee_Address" name="Nominee_Address" placeholder="1234 Main St" required>
                            </div>
                        </div>
                    </div>
                </div>`;
            $('.new-owns-area').append(strc);

            $('.rmv-own-ajdhksf').last().unbind().click(function () {
                if (!confirm('Are you sure you want to remove this owner?')) {
                    return;
                }
                else {
                    $(this).closest('.sel-inf-dfshjgk-file').remove();
                }
            });

        });

        $("#sea-file-data-trans-req-new").click(function () {
            var val = $('#app-num').val();
            $('.Group_Tag').val(null);
            $.ajax({
                type: "POST",
                url: '/FileSystem/GetFileDelivery/',
                data: { Filefromid: val },
                success: function (data) {
                    if (data == false) {
                        alert("No Result found");
                    }
                    else if (data == -1) {
                        alert("This Plot Cannot be Transfer from Here");
                    }
                    else {
                        var dev = "";
                        if (data.File.Development_Charges_Val == true) { dev = "With Development Charges"; } else if (data.File.Development_Charges_Val == false) { dev = "Non Development Charges"; }

                        $("#file-trans-alert").html("");
                        $("#oth-inst tbody").empty();
                        $("#all-instments tbody").empty();
                        $("#trns-btn").html("");
                        $('#file-id').val(data.File.Id);
                        $('#file-trans-id').val(data.File.File_Transfer_Id);
                        $('#file-rate').val(data.File.Rate)
                        $('#ttl-amt').val(data.File.TotalPlotVal)
                        $('#grd-ttl').val(data.File.GrandTotal)
                        $('#qr_Id').val(data.File.QR_Id)
                        $('#deal-nam').val(data.File.Dealership_Name);
                        $('#pl-size').val(data.File.Plot_Size);
                        $('#plt-size').val(data.File.Plot_Size);
                        $('#plt-pref').val(data.File.Plot_Prefrence);
                        $('#fp-num').val(data.File.File_Form_Number);
                        $('#prj').val(data.File.Project_Name);
                        $('#prj-nam').val(data.File.Project_Name);
                        $('#phs').val(data.File.Phase_Name);
                        $('#ph-id').val(data.File.Phase_Id);
                        $('#blk').val(data.File.Block_Name);
                        $('#blk-id').val(data.File.Block_Id);
                        $('#status').text(data.File.Status);
                        $('#dev-char').text(dev);
                        $('#qr_img').attr("src", '/QR Codes/' + data.File.File_Form_Number + '.png');
                        $('#Name').val(data.File.Name);
                        $('#Father_Husband').val(data.File.Father_Husband);
                        $('#Postal_Address').val(data.File.Postal_Address);
                        $('#Residential_Address').val(data.File.Residential_Address);
                        $('#City').val(data.File.City);
                        $('#Date_Of_Birth').val(data.File.Date_Of_Birth);
                        $('#CNIC_NICOP').val(data.File.CNIC_NICOP);
                        $('#Occupation').val(data.File.Occupation);
                        $('#Nationality').val(data.File.Nationality);
                        $('#Email').val(data.File.Email);
                        $('#Phone_Office').val(data.File.Phone_Office);
                        $('#Residential').val(data.File.Residential);
                        $('#Mobile_1').val(data.File.Mobile_1);
                        $('#Mobile_2').val(data.File.Mobile_2);
                        $('#Nominee_Name').val(data.File.Nominee_Name);
                        $('#Nominee_CNIC_NICOP').val(data.File.Nominee_CNIC_NICOP);
                        $('#Nominee_Relation').val(data.File.Nominee_Relation);
                        $('#Nominee_Address').val(data.File.Nominee_Address);
                        $('#bal-amt').text(Number(data.File.Balance_Amount).toLocaleString());
                        $("#Plot_Prefrence").val(data.File.Plot_Prefrence);
                        var instserialno = 1, overduetotal = 0;
                        var pltsize = data.File.Plot_Size;
                        var pltsize = pltsize.split(" ");
                        var fees = pltsize[0] * 500;
                        $("#transfer-fees").val(fees);
                        $("#tras-fee").html(fees);
                        $("#amt-in-words").val(InWords(fees));
                        $.each(data.Installments, function (i) {
                            var statuscolor = "";
                            if (data.Installments[i].Status == "NotPaid") {
                                statuscolor = "bgc-red-50";
                                overduetotal = parseFloat(overduetotal) + parseFloat(data.Installments[i].Amount);
                            }
                            else if (data.Installments[i].Status == "Paid") {
                                statuscolor = "bgc-green-50";
                            }
                            var html = '<tr class=' + statuscolor + ' id="' + data.Installments[i].Id + '" ><td scope="row">' + instserialno + '</td>' +
                                '<td>' + moment(data.Installments[i].Due_Date).format("MMMM YYYY") + '</td>' +
                                '<td>' + Number(data.Installments[i].Amount).toLocaleString() + '</td>' +
                                '<td>' + moment(data.Installments[i].Due_Date).format("DD-MMM-YYYY") + '</td>' +
                                '<td>' + data.Installments[i].Status + '</td></tr>';
                            $("#all-instments tbody").append(html);
                            instserialno++;
                        });
                        var otherinstserialno = 1;
                        $.each(data.OtherInstallments, function (i) {
                            var statuscolor = "";
                            if (data.OtherInstallments[i].Status == "NotPaid") {
                                statuscolor = "bgc-red-50";
                                overduetotal = parseFloat(overduetotal) + parseFloat(data.OtherInstallments[i].Amount);
                            }
                            else if (data.OtherInstallments[i].Status == "Paid") {
                                statuscolor = "bgc-green-50";
                            }
                            var html = '<tr class=' + statuscolor + ' id="' + data.OtherInstallments[i].Id + '" ><td scope="row">' + otherinstserialno + '</td>' +
                                '<td>' + data.OtherInstallments[i].Installment_Name + '</td>' +
                                '<td>' + Number(data.OtherInstallments[i].Amount).toLocaleString() + '</td>' +
                                '<td>' + moment(data.OtherInstallments[i].Due_Date).format("DD-MMM-YYYY") + '</td>' +
                                '<td>' + data.OtherInstallments[i].Status + '</td></tr>';
                            $("#oth-inst tbody").append(html);
                            otherinstserialno++;
                        });
                        var totalamt = 0;
                        $.each(data.ReceivedAmounts, function (i) {
                            var html = '<tr id="' + data.ReceivedAmounts[i].Id + '" data-token="' + data.ReceivedAmounts[i].TokenParameter + '" >' +
                                '<td scope="row">' + data.ReceivedAmounts[i].ReceiptNo + '</td>' +
                                '<td>' + Number(data.ReceivedAmounts[i].Amount).toLocaleString() + '</td>' +
                                '<td>' + moment(data.ReceivedAmounts[i].DateTime).format("DD-MMM-YYYY") + '</td>' +
                                '<td>' + data.ReceivedAmounts[i].PaymentType + '</td></tr>';
                            $("#rec-amts tbody").append(html);
                            totalamt = totalamt + parseFloat(data.ReceivedAmounts[i].Amount);
                        });
                        var html1 = '<tr><td>Total</td><td colspan="4">' + totalamt + '</td></tr>';
                        $("#rec-amts tbody").append(html1);
                        $("#ov-du-amt").text(Number(overduetotal).toLocaleString())
                        var overdue = parseFloat(overduetotal);

                        var a = moment();
                        var b = moment(data.OtherInstallments.filter(x => x.Installment_Type == '3')[0].Due_Date);
                        
                        if ((data.File.Dealership_Name == "SAG Head Office") && (a.diff(b, 'days') < 1080) ) {
                            alert("Cannot Transfer Before 3 year");
                            return false;

                        }

                        if (data.File.Status != "Registered") {
                            alert("File is " + data.File.Status);
                        }
                        else {



                            if (data.File.AuditVerified) {
                                if (overduetotal > 0) {
                                    
                                    var html = '<div class="alert alert-danger" role="alert">This File Can not be Transfer Due to pending OVER DUE Amount</div>';
                                    $("#file-trans-alert").prepend(html);
                                }
                                else {
                                    var btn = '<button class="btn btn-primary" type="submit" id="trans-frm" style="width:100%" >Generate Transfer Request</button>';
                                    $("#trns-btn").html(btn);
                                }
                            }
                            else {
                                var html = '<div class="alert alert-danger" role="alert">This File is not Verified</div>';

                                if (data.File.Verification_Req) {
                                    var html1 = '<div class="col-md-4"><h6 style="width: auto;float: left;margin: 7px;">Request For Verifcation</h6><label class="switch"><input type="checkbox" id="veri-req-f" checked><span class="slider round"></span></label></div>';
                                    $("#file-trans-alert").prepend(html1);
                                }
                                else {
                                    var html1 = '<div class="col-md-4"><h6 style="width: auto;float: left;margin: 7px;">Request For Verifcation</h6><label class="switch"><input type="checkbox" id="veri-req-f"><span class="slider round"></span></label></div>';
                                    $("#file-trans-alert").prepend(html1);
                                }

                                $("#file-trans-alert").prepend(html);
                            }
                        }

                        if (data.TransferTo != null && data.TransferTo != undefined && data.TransferTo.length > 0 ) {
                            // means that this already is in transfer process
                            let cities = $('.sel-inf-dfshjgk-file').first().find('#City').html();
                            $('.sel-inf-dfshjgk-file').remove();
                            $.each(data.TransferTo, function (i, v) {
                                let strc = `<div class="mT-30 sel-inf-dfshjgk-file">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Name</label>
                            <input type="text" class="form-control Name" name="Name" value ="${v.Name}" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Father's/Husband's Name</label>
                            <input type="text" class="form-control Father_Husband" name="Father_Husband" value="${v.Father_Husband}" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Postal Address</label>
                            <input type="text" class="form-control Postal_Address" name="Postal_Address" value="${v.Postal_Address}" placeholder="1234 Main St" required>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Residential Address</label>
                            <input type="text" class="form-control Residential_Address" name="Residential_Address" value="${v.Residential_Address}" placeholder="Apartment, Plot, or floor" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label>City</label>
                            <select class='form-control' id='City'>${cities}</select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Date Of Birth</label>
                            <input type="text" class="form-control Date_Of_Birth" value="${v.Date_Of_Birth}" placeholder="mm/dd/yyyy" data-provide="datepicker" name="Date_Of_Birth" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label>CNIC / NICOP</label>
                            <input type="text" class="form-control CNIC_NICOP" name="CNIC_NICOP" value="${v.CNIC_NICOP}" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Occupation</label>
                            <input type="text" class="form-control Occupation" value="${v.Occupation}" name="Occupation" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Nationality</label>
                            <input type="text" class="form-control Nationality" value = "${v.Nationality}" name="Nationality" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Email</label>
                            <input type="text" class="form-control Email" value="${v.Email}" name="Email">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Phone Office</label>
                            <input type="text" class="form-control Phone_Office" value="${v.Phone_Office}" name="Phone_Office">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Residential</label>
                            <input type="text" class="form-control Residential" value="${v.Residential}" name="Residential">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Mobile 1</label>
                            <input type="text" class="form-control Mobile_1" value="${v.Mobile_1}" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_1" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Mobile 2</label>
                            <input type="text" class="form-control Mobile_2" value="${v.Mobile_2}" pattern="^0\d{10}" placeholder="03121234567" name="Mobile_2">
                            <input type="hidden" class="Group_Tag" value="${v.Group_Tag}">
                        </div>
                    </div>

                    <hr />
                    <h6 class="c-grey-900">Nominee</h6>
                    <div class="mT-40">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label>Name</label>
                                <input type="text" class="form-control Nominee_Name" value="${v.Nominee_Name}" name="Nominee_Name" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label>CNIC / NICOP</label>
                                <input type="text" class="form-control Nominee_CNIC_NICOP" value="${v.Nominee_CNIC_NICOP}" pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}|[0-9+]{6}-[0-9+]{6}-[0-9]{1}" placeholder="12345-1234567-1   or   123456-123456-1" name="Nominee_CNIC_NICOP" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Relation</label>
                                <input class="form-control Nominee_Relation" value="${v.Nominee_Relation}" name="Nominee_Relation" placeholder="" required>
                            </div>
                            <div class="form-group col-md-7">
                                <label>Address</label>
                                <input type="text" class="form-control Nominee_Address" value="${v.Nominee_Address}" name="Nominee_Address" placeholder="1234 Main St" required>
                            </div>
                        </div>
                    </div>
                </div>`;
                                $('.new-owns-area').append(strc);
                            });
                        }
                    }
                },
                error: function (data) {
                    alert("Error Occured Try Again")
                }
            });
        });

        $('.isCompanyProperty').unbind().change(function () {
            //lets hook up the event listener here
            if ($(this).is(':checked')) {
                $('.comp-prop-fld').show();
                $('.deflt-fld').hide();
                $('.nomin-heading').text('Board Resolution');
            }
            else {
                $('.comp-prop-fld').hide();
                $('.deflt-fld').show();
                $('.nomin-heading').text('Nominee');
            }
        });
    });

    $(document).on('click', '#trans-frm', function () {
        //After Multi owner implementation
        //push the data to the server via new technique now
        let _newOwnersData_ = [];
        let transId = $('#trans_Id').val();
        let pltSize = $('#plt-size').val();
        let file_id = $('#file-id').val();
        let fp_num = $('#fp-num').val();
        let partyDealer = $('.Party_Dealership').val();
        let isSubmissionValid = true;
        var isCompPropCheck = $('.isCompanyProperty').is(':checked');
        $('.sel-inf-dfshjgk-file').each(function (ind, val) {
            let ownName = (isCompPropCheck) ? $(this).find('.comp-Name').val() : $(this).find('.Name').val();
            let ownFatherName = (isCompPropCheck) ? '' : $(this).find('.Father_Husband').val();
            let ownPostAddr = $(this).find('.Postal_Address').val();
            let ownResAddr = $(this).find('.Residential_Address').val();
            let ownCity = $(this).find('#City option:selected').val();
            let ownDob = (isCompPropCheck) ? $(this).find('.comp-Date_Of_Birth').val() : $(this).find('.Date_Of_Birth').val();
            let ownCNIC = (isCompPropCheck) ? $(this).find('.comp-CNIC_NICOP').val() : $(this).find('.CNIC_NICOP').val();
            let ownOccupation = $(this).find('.Occupation').val();
            let ownNational = $(this).find('.Nationality').val();
            let ownEmail = $(this).find('.Email').val();
            let ownPhoneOff = $(this).find('.Phone_Office').val();
            let ownResi = $(this).find('.Residential').val();
            let ownMobile1 = $(this).find('.Mobile_1').val();
            let ownMobile2 = $(this).find('.Mobile_2').val();
            let grp = $(this).find('.Group_Tag').val();
            let ownNomineeName = $(this).find('.Nominee_Name').val();
            let ownNomineeCNIC = $(this).find('.Nominee_CNIC_NICOP').val();
            let ownNomineeRelation = $(this).find('.Nominee_Relation').val();
            let ownNomineeAddr = $(this).find('.Nominee_Address').val();
            if (ownName == '' || (ownFatherName == '' && isCompPropCheck == false) || ownMobile1 == '' || ownCNIC == '' || ownPostAddr == '') {
                isSubmissionValid = false;
            }
            _newOwnersData_.push({
                Name: ownName,
                Father_Husband: ownFatherName,
                Postal_Address: ownPostAddr,
                Residential_Address: ownResAddr,
                City: ownCity,
                Date_Of_Birth: ownDob,
                CNIC_NICOP: ownCNIC,
                Occupation: ownOccupation,
                Nationality: ownNational,
                Email: ownEmail,
                Phone_Office: ownPhoneOff,
                Residential: ownResi,
                Mobile_1: ownMobile1,
                Mobile_2: ownMobile2,
                Nominee_Name: ownNomineeName,
                Nominee_CNIC_NICOP: ownNomineeCNIC,
                Nominee_Relation: ownNomineeRelation,
                Nominee_Address: ownNomineeAddr,
                Group_Tag: grp,
                IsCompanyProperty: isCompPropCheck
            });
        });
        if (isSubmissionValid == false) {
            alert('Please fill all client data before forwarding request.');
            return;
        }
        //push the data to server via ajax Now
        if (confirm('Are you sure you want to submit this transfer request?')) {
            $('#trans-frm').prop('disabled', true);
            $.ajax({
                type: "POST",
                url: "/FileSystem/FileTransferRequest/",
                contentType: "application/json",
                traditional: true,
                beforeSend: function () {
                },
                complete: function () {
                },
                data: JSON.stringify({ filedatas: _newOwnersData_, File_Plot_Number: file_id, TransactionId: transId, plt_size: pltSize, dealingDealership: partyDealer }),
            }).done(function (data) {
                if (data != null) {
                    window.location.reload();
                    window.open("/FileSystem/NDCForm?SerialNum=" + data, "_blank");
                }
                else {
                    alert(data.Msg);
                }
            });
        }
    });
</script>