
@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div class="row gap-20 pos-r">
    <div class="col-md-12">
        <div class="bgc-white p-20 bd">
            <div class="mT-30">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Manager Level</h5>
                    </div>
                    <div class='col-md-3'>
                        <div class="layers bd bgc-white p-10 mt-2">
                            <div class="layer w-100" style="text-align: center;font-size: 17px;">
                                <a href="/Activity/ManagerLevlActivityListshow/">Activity List</a>
                            </div>
                        </div>
                    </div>
                   
                   
                </div>
                <hr />
            </div>
            <div class="col-md-12" id="tab-data"></div>
        </div>
    </div>
</div>



