<!-- Include SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- Include SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


@using (Html.BeginForm("AddOnlineAmountUnSupervised", "Banking", FormMethod.Post, new { @id = "add-amt_un", @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-row">
        @*Test*@
        <div class="form-group col-md-6">
            <input type="hidden" value="@ViewBag.TransactionId" name="TransactionId" />
            <input type="hidden" id="amt-file-id" name="Filefromid" />
            <input type="hidden" id="pl-id" name="PlotId" />
            <input type="hidden" id="amt-file-no" name="File_Plot_Number" />
            <input type="hidden" id="amt-in-wrds" name="AmountInWords" />
            <input type="hidden" id="mbl" name="Mobile_1" />
            <input type="hidden" id="fth-husbad" name="Father_Husband" />
            <input type="hidden" id="name" name="Name" />
            <input type="hidden" id="total-amt" name="TotalAmount" />
            <input type="hidden" id="prj-name" name="Project_Name" />
            <input type="hidden" id="rate" name="Rate" />
            <input type="hidden" id="plt-size" name="Plot_Size" />
            <input type="hidden" id="mod" name="Module" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>Amount</label>
            <input type="text" class="form-control" id="amt" name="Amount">
        </div>
        <div class="form-group col-md-2">
            <label>Receipt Date</label>
            <input type="text" class="form-control" data-provide="datepicker" id="Date" name="Date">
        </div>
        <div class="form-group col-md-2">
            <label>Received Bank</label>
            <select class="form-control" id="" name="From_Bank">
                <option value="UBL7019">110001001001-UBL A-C (PK25UNIL0109000228187019)</option>
                <option value="HBL0503">110001001110001001002-HBL A-C (PK42HABB0023487000510503)</option>
                <option value="AlBaraka4017">110001001110001001003-AL-Baraka A-C (PK63AIIN0000102535994017)</option>
                <option value="AlFalah2045">110001001110001001005-Al-Falah A-C (PK54ALFH5657005001452045)</option>
                <option value="UBL1104">110001001110001001006-UBL A-C (PK79UNIL0109000241541104)</option>
                <option value="BankIslami0001">110001001110001001007-Bank Islami A-C (PK98BKIP0207000325060001)</option>
                <option value="AlBaraka4087">110001001110001001004-AL-Baraka A-C (PK16AIIN0000102535994087)</option>

            </select>
        </div>
        <div class="form-group col-md-2">
            <label>Cash / Bank</label>
            <select class="form-control paytypesel-test" id="cah-chq-bak" name="PaymentType">
                <option value="Cash">Cash</option>
                <option value="Online_Cash">Online - Cash</option>
                <option value="Online_Cheque">Online - Cheque</option>
                <option value="Debit/Credit Card">Debit / Credit Card</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Bank</label>
            @Html.DropDownList("Bank", null, "Choose..", new { @class = "form-control" })
          
        </div>
        <div class="form-group col-md-2 paymentotherinfo">
            <label>Instrument No. </label>
            <input type="text" class="form-control" id="Branch" name="PayChqNo" placeholder="A123456" disabled>
        </div>
    </div>
}
<script>
    $(function () {
        $('.modal-footer').append('<button class="btn btn-success" id="add-on-amt_un_sup" type="submit">Update</button>');
        $("#bal").html($("#bal-amt").text());
        $("#bal-val").val($("#bal-amt").text());
        $("#amt-file-id").val($("#file-id").val());
        $("#pl-id").val($("#plt-id").val());
        $("#amt-file-no").val($("#app-num").val());
        $("#mbl").val($("#Mobile_1").val());
        $("#fth-husbad").val($("#Father_Husband").val());
        $("#name").val($("#Name").val());
        $("#total-amt").val($("#ttl-amt").val());//
        $("#prj-name").val($("#prj").val());
        $("#rate").val($("#file-rate").val());//
        $("#plt-size").val($("#pl-size").val());
        $("#mod").val($("#module").val());
    });
    $(document).ready(function () {
        $('#Date').datepicker({
            format: 'mm/dd/yyyy', // Adjust format as needed
            autoclose: true,
            todayHighlight: true
        });
    });
</script>
<style>
    .paymentotherinfo {
        display: none;
    }

    #inst-stat {
        height: 1245px;
        overflow-y: scroll;
    }
</style>