
<script src="~/Scripts/Inv.js"></script>
@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("CEO"))
    {
        Layout = "~/Views/Shared/_CEOLayout.cshtml";
    }
    else if (User.IsInRole("Staff"))
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}
<div class="row bgc-white bd bdrs-3 p-20 mB-20">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item"><a class="nav-link asset-link" role="tab" data-toggle="tab" data-link="/Banking/DailySAMCashReportView" id="pen-ap" href="#coahead">SAM Daily Cash Report</a></li>
            <li class="nav-item"><a class="nav-link asset-link" role="tab" data-toggle="tab" data-link="/Banking/PendingDailySamCashReport" id="pen" href="#coahead">SAM Pending Daily Cash Report</a></li>
            <li class="nav-item"><a class="nav-link asset-link" role="tab" data-toggle="tab" data-link="/Banking/DayClosedSamCashReceipt" id="po" href="#coahead">SAM Day Closed Cash Report</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" id="coahead" class="tab-pane active p-20 table-responsive"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        SASLoad($('#coahead'));
        $('#coahead').load('/Banking/DailySAMCashReportView', function () {
            SASUnLoad($('#coahead'));
        });
        $("#pen-ap").addClass('active');
    });
    $(document).on("Click", ".asset-link", function () {
        var address = $(this).attr('data-link');
        var id = $(this).attr('id');
        SASLoad($('#coahead'));
        $('#coahead').load(address, function () {
            SASUnLoad($('#coahead'));
        });
        $("#" + id).addClass('active');
    });
</script>