@{
    if (User.IsInRole("Administrator"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_StaffLayout.cshtml";
    }
}

<div class="row bgc-white bd bdrs-3 p-20 mB-20">
    <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item"><a class="nav-link dcr-link" role="tab" data-toggle="tab" data-link="/Banking/FullDailyCashReport" id="d_cash_rep" href="#dcrhead">Daily Cash Report</a></li>
            <li class="nav-item"><a class="nav-link asset-link" role="tab" data-toggle="tab" data-link="/Banking/PendingDayCloseCashReport" id="pen_day_close" href="#dcrhead">Pending Day Close Report</a></li>
            <li class="nav-item"><a class="nav-link asset-link" role="tab" data-toggle="tab" data-link="/Banking/DayClosedCashReport" id="day_closed" href="#dcrhead">Day Closed Report</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" id="dcrhead" class="tab-pane active p-20 table-responsive"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        SASLoad($('#dcrhead'));
        $('#dcrhead').load('/Banking/FullDailyCashReport', function () {
            SASUnLoad($('#dcrhead'));
        });
        $("#d_cash_rep").addClass('active');
    });
    $(document).on("click", ".dcr-link", function (e) {
        e.preventDefault();
        var address = $(this).attr('data-link');
        var id = $(this).attr('id');
        SASLoad($('#dcrhead'));
        $('#dcrhead').load(address, function () {
            SASUnLoad($('#dcrhead'));
        });
        $("#" + id).addClass('active');
    });
</script>



