@{
    Layout = "~/Views/Shared/_CEOLayout.cshtml";
}
<div class="row">
    <div style="margin-left:25%; width : 100%;">
        <div class="hex-row">
            <div class="hex">
                <div class="top"></div>
                <div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Dealership/AddDealer/">Add Dealerships</a>
                </div>
                <div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Dealership/AllDealerships/">Dealership Details</a>

                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/CallCenter/OversueInstallments/">Call Center</a>
                </div><div class="bottom"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div style="margin-top:5%; margin-left:25%; width : 100%;">
        <div class="hex-row">
            <div class="hex">
                <div class="top"></div>
                <div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Installments/ReceiveInstallments/">Receive Installments</a>
                </div>
                <div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/FileSystem/RegisterFile/">New File Registeration</a>

                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/FileSystem/FileTransfer/">File Transfer</a>
                </div><div class="bottom"></div>
            </div>
        </div>
        <div class="hex-row even">
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/ServiceCharges/ServiceChargesBillPayment/">Service Charges Recovery</a>
                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/ServiceCharges/ElectricityBillPayment/">Electricity Charges Recovery</a>
                </div><div class="bottom"></div>
            </div>
        </div>
     
    </div>
</div>
<div class="row">
    <div style="margin-left:25%;margin-top:5%; width : 100%;">
        <div class="hex-row">
            <div class="hex">
                <div class="top"></div>
                <div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/FileSystem/FileInformation/">File Information</a>
                </div>
                <div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/FileSystem/FileDelivery/">File Delivery</a>

                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/FileSystem/UpdateInformation/">Update Information</a>
                </div><div class="bottom"></div>
            </div>
        </div>
        <div class="hex-row even">
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/FileSystem/FileVerification/">File Verification</a>
                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/FileSystem/TransferRequest/">Transfer Request</a>
                </div><div class="bottom"></div>
            </div>
        </div>
        @*<div class="hex-row">
                        <div class="hex"><div class="top"></div><div class="middle">
                <a href="javascript:void(0);" class="get-link text-white" data-link="/ServiceCharges/FineCollection/">Fine Collection</a>
            </div><div class="bottom"></div></div>
                        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
                        <div class="hex"><div class="top"></div><div class="middle"></div><div class="bottom"></div></div>
                    </div>*@
    </div>
</div>
<div class="row">
    <div style="margin-left:25%;margin-top:5%; width : 100%;">
        <div class="hex-row">
            <div class="hex">
                <div class="top"></div>
                <div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Plots/PlotOwnership/">Plot Registeration</a>
                </div>
                <div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Plots/NewAllotmentLetters/">New Allotment Letters</a>

                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Plots/PlotInformation/">Plot Information</a>
                </div><div class="bottom"></div>
            </div>
        </div>
        <div class="hex-row even">
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Plots/AllotmentLettersList/">Allotment Letters List</a>
                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/FileSystem/TransferRequest/">Transfer Request</a>
                </div><div class="bottom"></div>
            </div>
        </div>
        <div class="hex-row">
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Transfer/PlotTransfer/">Plot Transfer</a>
                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Plots/GenerateAllotLetterList/">Generate Allotement Letters</a>
                </div><div class="bottom"></div>
            </div>
            <div class="hex">
                <div class="top"></div><div class="middle">
                    <a href="javascript:void(0);" class="get-link text-white" data-link="/Plots/TransferList">Transfer List</a>
                </div><div class="bottom"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .hex {
        float: left;
        margin-left: 3px;
        margin-bottom: -40px;
    }

        .hex .top {
            width: 0;
            border-bottom: 60px solid red;
            border-left: 104px solid transparent;
            border-right: 104px solid transparent;
        }

        .hex .middle {
            width: 208px;
            height: 120px;
            background: red;
        }

        .hex .bottom {
            width: 0;
            border-top: 60px solid red;
            border-left: 104px solid transparent;
            border-right: 104px solid transparent;
        }

    .hex-row {
        clear: left;
    }

        .hex-row.even {
            margin-left: 106px;
        }

    .middle {
        font-size: 30px;
        text-align: center;
    }
</style>