
@using (Html.BeginForm("SaveProfileImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "prfle-img-form-dkshjf", @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    <div class="col-md-12" style="text-align:center;">
        <input type="hidden" id="empCode" name="empCode" value="@ViewBag.code" />
        <div class="dealer-img">
            <div class="main-img-preview">
                <img class="thumbnail img-preview pers-img" width="320" height="240" src="@ViewBag.dp_path" />
            </div>
            <div class="col-md-6" style="margin:auto;">
                <div class="btn btn-danger" style="width:300px;">
                    <span><i class="glyphicon glyphicon-upload"></i> Choose Image</span>
                    <input name="fileBase" type="file" id="fileBase" class="user-prf-img" accept="image/jpeg">
                </div>
            </div>
            <div class="col-md-6 mt-md-3" style="margin:auto;">
                <button type="submit" class="btn btn-primary" style="width:67%">Save</button>
            </div>
        </div>
    </div>
}


<script language="JavaScript">
    let __klfjsda_multi_sbmsn_check = false;
    $('.user-prf-img').change(function () {
        readURL(this);
    });

    $(document).on('submit', '#prfle-img-form-dkshjf', function (e) {
        e.preventDefault();
        if (__klfjsda_multi_sbmsn_check == true) {
            return;
        }
        __klfjsda_multi_sbmsn_check = true;
        var file = $("#fileBase").get(0).files;
        if (file.length == 0) {
            alert("Error Occured Or Image not uploaded");
            return false;
        }
        var form = $("#prfle-img-form-dkshjf");
        var empCode = $('#empCode').val();
        var data = new FormData();
        var files = $("#fileBase").get(0).files;
        data.append("Files", files[0]);
        $.each(form.serializeArray(), function (key, input) {
            data.append(input.name, input.value);
        });
        var ch = confirm('Are you sure you want to proceed');
        if (ch) {
            $.ajax({
                type: "POST",
                processData: false,
                contentType: false,
                url: $("#prfle-img-form-dkshjf").attr('action'),
                data: data,
                success: function (data) {

                    closeModal();
                    window.location.reload();
                }
                ,
                error: function () {
                    alert('Failed to update profile image.');
                }
            });
        }
    });
</script>
