<div class="row gap-20 pos-r">
    <table>
        <tr>
            <td>Total Files Registered : </td>
            <td></td>
        </tr>

        <tr>
            <td>Total Files Cancelled : </td>
            <td></td>
        </tr>

        <tr>
            <td>Total Files Refunded : </td>
            <td></td>
        </tr>

        <tr>
            <td>Total Files Temporary Cancelled : </td>
            <td></td>
        </tr>
    </table>

    <hr />

    <table>
        <tr>
            <td>Total Sherafghan Forms Pending : </td>
            <td></td>
        </tr>
    </table>

    @*Dealer reports*@

    <table>
        <tr>
            <td>Total Sherafghan Forms Pending : </td>
            <td></td>
        </tr>
    </table>

    @*Plots Defaulters*@

    <table>
        <tr>
            <td>Total Sherafghan Forms Pending : </td>
            <td></td>
        </tr>
    </table>
</div>
