@{
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}
<div class="row gap-20 pos-r">
    <div class="col-md-12">
        <div class="bgc-white p-20 bd">
            <div class="mT-30">
                <div class="form-row row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label>Block</label>
                                @Html.DropDownList("Project", null, "Choose..", new { @class = "form-control", required = "" })
                            </div>
                            <div class="col-md-1 form-group">
                                <button style="margin-top:23%" id="elec-rea-com-lst" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mT-30">
                <div class="form-row row">
                    <div class="col-md-12" id="com-det-meter"></div>
                </div>
            </div>
        </div>
    </div>
</div>