<!-- SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@using (Html.BeginForm("CreateDeal", "PropertyDeal", FormMethod.Post, new { @id = "c-deal", @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="form-group col-md-2">
            <label>Project</label>
            @Html.DropDownList("Projects", null, "Choose..", new { @id = "l-proj", @class = "form-control r-n-f-p" })
        </div>
        <div class="form-group col-md-2">
            <label>Type</label>
            <select class="form-control r-n-f-p" id="type" name="Type">
                <option value="New_Lead">New Lead</option>
                <option value="Resale">Resale</option>
                <option value="Investment">Investment</option>
            </select>
        </div>
        <div class="form-group col-md-2 unitList" style="display:none;">
            <label>Units</label>
            <select class="form-control leadUnits" id="units" name="UnitNo">
                <option>Select Unit</option>
            </select>
        </div>
        <div class="form-group col-md-2 fil_plt">
            <label>File / Plot</label>
            <select class="form-control r-n-f-p" id="fil-plt" name="File_Plot">
                <option value="Plot">Plot</option>
                <option value="File">File</option>
            </select>
        </div>
        <div class="form-group col-md-4 n-p fil_plt">
            <label>Plots</label>
            @Html.DropDownList("NewLeadPlots", null, "Choose..", new { Name = "PlotId", @class = "form-control led-plot-det" })
        </div>
        <div class="form-group col-md-2 fil fil_plt">
            <label>Plot Size</label>
            <select class="form-control" id="fil-plt-size" name="Size">
                <option value="2 Marla">2 Marla</option>
                <option value="3 Marla">3 Marla</option>
                <option value="4 Marla">4 Marla</option>
                <option value="5 Marla">5 Marla</option>
                <option value="6 Marla">6 Marla</option>
                <option value="8 Marla">8 Marla</option>
                <option value="10 Marla">10 Marla</option>
            </select>
        </div>
        <div class="form-group col-md-2 fil fil_plt">
            <label>Type</label>
            <select class="form-control" name="Plot_Type" id="Plot_Type">
                <option value="Residential">Residential</option>
                <option value="Commercial">Commercial</option>
            </select>
        </div>
        <div class="form-group col-md-2 fil">
            <label>File Number</label>
            <input class="form-control" type="text" name="File_Plot_Number" />
        </div>
        <div class="form-group col-md-2 r-plt">
            <label>Block</label>
            @Html.DropDownList("Block", null, "Choose..", new { @class = "form-control blk-plots", required = "" })
        </div>
        <div class="form-group col-md-2 r-plt">
            <label>Type</label>
            <select class="form-control blk-plots" id="plot-type">
                <option value="Residential">Residential</option>
                <option value="Commercial">Commercial</option>
            </select>
        </div>
        <div class="form-group col-md-2 r-plt">
            <label>Plot No</label>
            <select class="form-control led-plot-det" name="PlotId" id="plot-details">
                <option>Select Block</option>
            </select>
        </div>
    </div>
    <div class="row plt-info">
        <div class="form-group col-md-1">
            <label>Plot No.</label>
            <h6 id="plt-no"></h6>
        </div>
        <div class="form-group col-md-1">
            <label>Block</label>
            <h6 id="blk-no"></h6>
        </div>
        <div class="form-group col-md-1">
            <label>Size</label>
            <h6 id="plt-size"></h6>
            <input type="hidden" id="plt-size-n" name="Plot_Size" />
        </div>
        <div class="form-group col-md-2">
            <label>Type</label>
            <h6 id="plt-type"></h6>
        </div>
        <div class="form-group col-md-2">
            <label>Status</label>
            <h6 id="plt-status"></h6>
        </div>
        <div class="form-group col-md-2">
            <label>Location</label>
            <h6 id="plt-loc"></h6>
        </div>
        <div class="form-group col-md-2" id="stat">

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group col-md-2 demand" style="display:none">
            <label>Demand</label>
            <input class="form-control coma" placeholder="12,345" required>
            <input type="hidden" id="dem-pric" name="Demand" class="amt" required>
        </div>
        <div class="form-group col-md-2">
            <label>Offer Price</label>
            <input class="form-control coma" id="off-pr" placeholder="12,345" required>
            <input type="hidden" id="off-pric" name="Offered_Price" class="amt" required>
        </div>
        <div class="form-group col-md-2">
            <label>Rate /Marla</label>
            <input class="form-control coma" id="rateper" placeholder="12,345" required>
            <input type="hidden" id="rate" name="RatePerMarla" class="amt" required>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-group col-md-12">
            <h5 id="buy-sel">Buyer Information</h5>
        </div>
        <input type="hidden" value="Buyer" id="bu-se" name="Buyer_Seller" />
        <div class="form-group col-md-3">
            <label>Name</label>
            <input class="form-control text-box single-line" id="Name" name="Name" required="" type="text" value="">
        </div>
        <div class="form-group col-md-3">
            <label>Mobile</label>
            <input class="form-control text-box single-line" pattern="^0\d{10}" placeholder="03211234567" id="Mobile" name="Mobile" required="" type="text" value="">
        </div>
        <div class="form-group col-md-3">
            <label>Address</label>
            <input class="form-control text-box single-line" id="Address" name="Address" type="text" value="">
        </div>
        <div class="form-group col-md-3">
            <label>Address</label>
            <select class="form-control" name="Source">
                <option value="Walkin">Walk-in</option>
                <option value="Social Media">Social Media</option>
                <option value="UAN">UAN</option>
                <option value="Reference">Reference</option>
            </select>
        </div>
       
    </div>
}
<script>
    $(function () {
        $('.modal-footer').append('<button class="btn btn-primary" id="cra-Deal" type="button">Create Deal</button>');
        $(".modal-header").text("Create Deal");

        $('.led-plot-det').select2({
            dropdownParent: $('#Modal')
        });
    });
</script>
<style>
    .fil, .r-plt {
        display: none;
    }
</style>